<ng-container *ngIf="!isBusy; else isBusyTemplate">
    <div class="ui-g">
      <div class="ui-g-12 ui-md-4 ui-lg-3" *ngFor="let playerInfo of playersInfo">
        <app-match-player-info [playerInfo]="playerInfo" [editable]="isEditable()" [allUsersMatchFeedback]="allUsersMatchFeedback"
                               (playerRemoved)="removePlayerFromMatch(playerInfo)">Loading players...</app-match-player-info>
      </div>
    </div>
</ng-container>

<ng-template #isBusyTemplate>
    <md-progress-spinner mode="indeterminate">
    </md-progress-spinner>
</ng-template>

<app-match-player-info-cud *ngIf="isEditable()" [playersFilter]="getPlayersFilter()" (newPlayerInfo)="newPlayerInfoEventHandler($event)"></app-match-player-info-cud>

