<button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
</button>
<md-menu #menu="mdMenu">
    <button md-menu-item (click)="openTeamDialog()">
        <md-icon svgIcon="team"></md-icon>
        <span>Add a Team</span>
    </button>
    <button md-menu-item disabled>
        <md-icon>voicemail</md-icon>
        <span>Check voicemail</span>
    </button>
    <button md-menu-item (click)="openSportPositionDialog()">
        <md-icon svgIcon="sport-position"></md-icon>
        <span>Add a Sport Position</span>
    </button>
</md-menu>
