<div *ngIf="hasPlayerRatingFeedback()">
<div (mouseover)="op.show($event)" (mouseleave)="op.hide()">
    <p-rating [ngModel]="calculateAverage()" [readonly]="true" [cancel]="false" [stars]="maxNumberStars"></p-rating>
</div>

<p-overlayPanel #op appendTo="body" >
    <ng-container *ngIf="!isBusy(); else loadingUsersPicture">
        <ng-container *ngFor="let stars of getKeys(getRatingValuesForUsers())">
            <div class="ui-g">
                <div class="ui-g-8 ui-md-8 ui-lg-8">
                    <p-rating [ngModel]="stars" [readonly]="true" [cancel]="false" [stars]="maxNumberStars"></p-rating>
                </div>
                <div class="ui-g-4 ui-md-4 ui-lg-4">
                    <div *ngFor="let user of getRatingValuesForUsers()[stars]">
                        <img class="user-id" [src]="getPicture(user.userId)"/>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>

    <ng-template #loadingUsersPicture>
        Loading...
        <mat-progress-spinner></mat-progress-spinner>
    </ng-template>
</p-overlayPanel>
</div>
