<div *ngIf="!teamInfo && isEditable()">
    <mat-checkbox class="example-margin" [(ngModel)]="teamRegistered">Team Already Registered</mat-checkbox>

    <div *ngIf="teamRegistered">
        <team-search (teamClicked)="setTeamInfoFromTeam($event)"></team-search>
    </div>

    <div *ngIf="!teamRegistered">
        <form [formGroup]="unregisteredTeamInfoForm">
            <mat-form-field>
                <input matInput type="text" placeholder="Team Name" formControlName="name" [(ngModel)]="unregisteredTeamInfo.name" required>
                <mat-error>Name is required.</mat-error>
            </mat-form-field>
        </form>
        <button mat-button (click)="setTeamInfoFromUnRegisteredTeamInfo()"><mat-icon>add</mat-icon></button>
    </div>

    <p-messages [(value)]="msgs" [closable]="false"></p-messages>
</div>

<div class="section" *ngIf="teamInfo">
    <app-match-team-info [teamInfo]="teamInfo"></app-match-team-info>
    <button *ngIf="isEditable()" mat-button (click)="removeTeam()" matTooltip="Remove team from match">
        <mat-icon>backspace</mat-icon>
    </button>
</div>
