<md-checkbox *ngIf="!teamInfo" class="example-margin" [(ngModel)]="teamRegistered">Team Already Registered</md-checkbox>

<div *ngIf="teamRegistered">
    <ng-container *ngIf="!team">
        <team-search (teamClicked)="setTeamInfoFromTeam($event)"></team-search>
        Team Not Selected Yet.
    </ng-container>
</div>

<div *ngIf="!teamRegistered">
    Team Not Registered
</div>

<div *ngIf="team; else teamNotSelected">
    <img class="team_emblem" [src]="team.emblemLink" alt=""/>
    <h2>{{team.name}}</h2>
    <h4>{{teamInfo.id}}</h4>
    <button md-button (click)="removeTeam()"><md-icon aria-hidden="true">backspace</md-icon></button>
</div>

<ng-template #teamNotSelected>
    Team Not Selected Yet.
</ng-template>
