<div *ngIf="dataLoaded">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + player.imageLink + ')'}" class="example-header-image"></div>
            <mat-card-title>Player Statistics</mat-card-title>
            <mat-select placeholder="Statistic" [(ngModel)]="selectedValue" name="food">
                <mat-option selected (click)="statisticSelected = 1">Teams played</mat-option>
                <mat-option (click)="statisticSelected = 2">Number of teams per sport</mat-option>
                <mat-option (click)="statisticSelected = 3">Performance</mat-option>
            </mat-select>
        </mat-card-header>
        <mat-card-content>
            <hr class="line">
            <div [ngSwitch]="statisticSelected">
                <p-chart *ngSwitchDefault type="doughnut" [data]="dataTimeInTheTeams"
                         [options]="optionsTimeInTheTeams"></p-chart>
                <p-chart *ngSwitchCase="2" type="pie" [data]="dataNumberOfTeamsPerSport"></p-chart>
                <app-player-detail-statistics-match-feedback-rating *ngSwitchCase="3" [player]="player">
                </app-player-detail-statistics-match-feedback-rating>
            </div>
        </mat-card-content>
    </mat-card>
</div>
