<div *ngIf="dataLoaded">
    <md-card>
        <md-card-header>
            <div md-card-avatar [ngStyle]="{'background-image': 'url(' + player.imageLink + ')'}" class="example-header-image"></div>
            <md-card-title>Player Statistics</md-card-title>
            <md-select placeholder="Statistic" [(ngModel)]="selectedValue" name="food">
                <md-option selected (click)="statisticSelected = 1">Teams played</md-option>
                <md-option (click)="statisticSelected = 2">Number of teams per sport</md-option>
            </md-select>
        </md-card-header>
        <md-card-content>
            <hr class="line">
            <div [ngSwitch]="statisticSelected">
                <p-chart *ngSwitchDefault type="doughnut" [data]="dataTimeInTheTeams"
                         [options]="optionsTimeInTheTeams"></p-chart>
                <p-chart *ngSwitchCase="2" type="pie" [data]="dataNumberOfTeamsPerSport"></p-chart>
            </div>
        </md-card-content>
    </md-card>
</div>
