<div *ngIf="dataLoaded">

    <div class="card statistics-card">
        <div class="card-header">
            Player Statistics
        </div>
        <div class="card-block">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" [class.active]="showTeamsPlayed" (click)="showTeamsPlayed = !showTeamsPlayed">Teams played</li>
                <li class="list-group-item" [class.active]="showNumberTeamsPerSport" (click)="showNumberTeamsPerSport = !showNumberTeamsPerSport">Number of teams per sport</li>
            </ul>
            <div class="card-text">
                <div class="content-container">
                        <div class="content-area">
                            <p-chart *ngIf="showTeamsPlayed" type="doughnut" [data]="dataTimeInTheTeams"
                                     [options]="optionsTimeInTheTeams"></p-chart>
                            <p-chart *ngIf="showNumberTeamsPerSport" type="pie" [data]="dataNumberOfTeamsPerSport"></p-chart>
                        </div>
                </div>

            </div>
        </div>
        <div class="card-footer">
        </div>
    </div>
</div>
