<div class="row">

    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">

        <div class="intro-image">
            <img src="http://vignette4.wikia.nocookie.net/peel/images/0/01/Football.jpg/revision/latest?cb=20150130151652"
                 alt=""/>
        </div>
    </div>

    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">

        <p>Log in using your social network account and start enjoying.</p>
        <p>You can log in using your favourite social network accounts</p>
        <ul class="list">
            <li>Facebook</li>
            <li>Google</li>
        </ul>
        <button type="submit" class="btn btn-primary" (click)="login()">Log In</button>

    </div>

</div>
