<div id="search-component">
  <h4>Player Search</h4>

<label for="search_input">
    <input #searchInput id="search_input" type="text" placeholder="Search for a Team..." (keyup)="search(searchInput.value)"/>
    <div *ngIf="searchInput.value && (playersPage | async)?.content == null">
        <span class="spinner spinner-sm">Loading...</span>
    </div>

    <ul class="list" [ngStyle]="{'clickable': true, 'cursor': 'pointer'}">
       <li class="not-found" *ngIf="(playersPage | async)?.content?.length == 0" disabled>Players not found</li>
       <li class="team-entry" *ngFor="let player of (playersPage | async)?.content" (click)="onPlayerClicked(player)">{{player.name}}</li>
   </ul>
</label>

</div>
