<form *ngIf="!isBusy" [formGroup]="teamForm" (change)="emitForm()">

    <section class="team-info">
        <label>Team Info:</label>
        <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Team Name" formControlName="name" [(ngModel)]="model.name" required>
            <mat-error>Name is required.</mat-error>
        </mat-form-field>

        <mat-select placeholder="Sport" [(ngModel)]="model.sport" formControlName="sport" required>
            <mat-option value="" [disabled]="true">Select a sport...</mat-option>
            <mat-option *ngFor="let sport of sports" [value]="sport.name">
                <mat-icon [svgIcon]="getIconForSport(sport.name)"></mat-icon>
                {{sport.name}}</mat-option>
        </mat-select>

        <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Description" rows="3" [(ngModel)]="model.bio" id="bio" name="bio" formControlName="bio"></textarea>
            <mat-error>Description of the team not valid.</mat-error>
        </mat-form-field>
    </section>

    <section>
        <div class="ui-g">
            <div class="ui-g-12 ui-md-3 ui-lg-3">
                <label>Team Dates</label>
            </div>

            <div class="ui-g-12 ui-md-3 ui-lg-3">
            <mat-form-field>
                <input #fromDate matInput placeholder="From date" type="date" [(ngModel)]="model.fromDate" [value]="getFromDate()"
                       formControlName="fromDate" required>
                <mat-error *ngIf="teamForm.get('fromDate').invalid">Not valid</mat-error>
            </mat-form-field>
            </div>

            <div class="ui-g-12 ui-md-3 ui-lg-3">
            <mat-form-field>
                <input #toDate matInput placeholder="To date" id="toDate" type="date" formControlName="toDate" [(ngModel)]="model.toDate" [value]="getToDate()"
                       [required]="!stillActive" [readOnly]="stillActive">
                <mat-error *ngIf="teamForm.get('toDate').invalid">Not valid</mat-error>
            </mat-form-field>
            </div>

            <div class="ui-g-12 ui-md-3 ui-lg-3">
                <mat-checkbox class="example-margin" [(ngModel)]="stillActive" [ngModelOptions]="{standalone: true}">Still Active</mat-checkbox>
            </div>
        </div>
    </section>

    <mat-form-field>
        <input #emblemLink matInput placeholder="Team Emblem Link" id="emblemLink" type="url" formControlName="emblemLink" [(ngModel)]="model.emblemLink">
        <mat-error *ngIf="teamForm.get('emblemLink').invalid">Not valid</mat-error>
    </mat-form-field>

    <mat-form-field>
        <button mat-icon-button matPrefix [disabled]="!theLocation.value" (click)="searchLocation(theLocation.value)"><mat-icon>search</mat-icon></button>
        <input matInput #theLocation placeholder="Team Location" id="location" type="url" formControlName="location" [(ngModel)]="model.location">
        <mat-error *ngIf="!validLocation">Location not found in the map</mat-error>
    </mat-form-field>

    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <img [src]="model.emblemLink" class="emblemImage">
    </div>

    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <agm-map [streetViewControl]="false" [zoom]="4" [latitude]="getCenter().lat" [longitude]="getCenter().lng"
                         disableDoubleClickZoom="true" scrollwheel="false">
            <agm-marker *ngIf="isValidLocation()" [latitude]="location.lat"
                                    [longitude]="location.lng">
            </agm-marker>
        </agm-map>
    </div>

</form>

<mat-progress-spinner *ngIf="isBusy" mode="indeterminate">
</mat-progress-spinner>

<div *ngIf="!isBusy && !sports" class="alert alert-danger">
    <div class="alert-item">
        <span class="alert-text">Add team form cannot be loaded</span>
    </div>
</div>
