@import '../../../sass/theme/_colors.scss';

.team-players {
    position: relative;
    background-color: rgba(mat-color($primary, 200), 0.5);
}

.team-players:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -50px;
    width: 0;
    height: 0;
    border-top: solid 50px rgba(mat-color($primary, 200), 0.5);
    border-left: solid 50px transparent;
    border-right: solid 50px transparent;
    z-index:99;
}

.team-player-card {
    padding-right: 5px;
}

.team-in-google-maps {
    position:relative;
    background-color: rgba(mat-color($accent, 200), 0.5);
}
