<div *ngIf="team && date" class="content-container">
    <div class="content-area">

        <team-detail-sport-intro [team]="team"></team-detail-sport-intro>

        <h1 id="intro" #Intro>{{team.name}} Homepage</h1> <h2>since {{getFromYear()}}</h2> <h2 *ngIf="team.toDate">to {{getToYear()}}</h2>

        <div class="team-players">
            <h1 id="players">The Players:</h1>
            <div *ngIf="players && team" class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" *ngFor="let playerToTeam of playersToTeam">
                    <app-player-in-team #playerInTeam [playerToTeam]="playerToTeam" [season]="season" class="team-player-card">Loading players...</app-player-in-team>
                </div>
            </div>
        </div>

        <div *ngIf="players && getPlayerIds().length === players.length && team" class="team-in-google-maps">
            <h1 id="team-in-google-maps">Locations In the Map:</h1>
            <team-in-google-maps [players]="players" [team]="team">Loading map...</team-in-google-maps>
        </div>

    </div>
<!--    <nav class="sidenav">
        <section class="sidenav-content">
            <div class="nav-link select">
                <select id="season">
                    <option *ngFor="let season of getSeasons()" [selected]="season === getCurrentSeason()">{{season}}</option>
                </select>
            </div>
            <a href="#intro" class="nav-link">
                Intro
            </a>
            <a href="#players" class="nav-link">
                Players
            </a>
        </section>
    </nav>-->
</div>
