<div id="search-component">
    <h4>Player Search</h4>

    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <mat-form-field>
                <input matInput type="text" #searchInput id="search_input" placeholder="Search for a Player..."
                       [formControl]="myControl" [matAutocomplete]="auto">
            </mat-form-field>

            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngIf="(playersPage | async)?.content?.length == 0" disabled>Players not found</mat-option>
                <mat-option *ngFor="let player of (playersPage | async)?.content" [value]="player.name"
                           (click)="searchInput.value = '';onPlayerClicked(player)" [disabled]="isDisabled(player)">
                    <img class="entry-img" [src]="player.imageLink">{{ player.name }}
                </mat-option>
            </mat-autocomplete>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
            <mat-progress-spinner class="adjust" *ngIf="myControl.value && (playersPage | async)?.content == null"
                                 mode="indeterminate"></mat-progress-spinner>
        </div>
    </div>

</div>
