<div *ngIf="player" class="content-container">
    <div class="content-area">
        <h1 id="intro" #intro>{{player.name}} Homepage</h1>

 <!--       <div *ngIf="isEverythingLoaded()">
            <player-detail-statistics [teams]="teams" [player]="player" [playerHistory]="playerHistory" [playerToTeamSport]="playerToTeamSport"></player-detail-statistics>
        </div>-->


  <!--      <div *ngIf="playerToTeamSportLoaded">
            <player-detail-team-sports [player]="player" [playerToTeamSport]="playerToTeamSport"></player-detail-team-sports>
        </div>-->

<!--        <div>
            <h1 id="comments" #comments>Comments</h1>
            <app-player-comments [player]="player"></app-player-comments>
        </div>-->

        <!--<div>
            <h1 id="rewards" #rewards>Rewards</h1>
            <player-rewards [player]="player"></player-rewards>
        </div>-->

        <button class="btn btn-info-outline" (click)="goBack()">Back</button>

    </div>
    <nav class="sidenav">
        <img class="player_image" [src]="player.imageLink" alt="{{player.name}}">
        <section class="sidenav-content">
            <a href="#intro" class="nav-link">
                Intro
            </a>
            <a href="#comments" class="nav-link">
                Comments
            </a>
            <a href="#rewards" class="nav-link">
                Rewards
            </a>
        </section>
    </nav>
</div>
