
$max_width: 100%;
$max_height_img1: 18vh;
$max_height_player-profile: 1.2 * $max_height_img1;
$padding_bottom_container: 1.1 * ($max_height_player-profile - $max_height_img1);

.content-area {
    width: $max_width;
}

#container {
    position:relative;
    height: 30vh;
    width: 100%;
    overflow: hidden;
    background: fixed top center;
    background-size: cover; -moz-background-size: cover; -webkit-background-size: cover;
    padding-bottom: 5vh;
    display: block;
}
#container h2 {
    font-family:'Oswald', sans-serif; font-size:24px; text-align:center; color:white; font-weight:400; text-transform:uppercase; z-index:10; opacity:.9;
}

.player_image {
    max-height: $max_height_player-profile;
    height: auto;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    transform: translate(0%, 0%);
}
