
$max_width: 80%;
$max_height_img1: 200px;
$max_height_player-profile: 1.2 * $max_height_img1;
$padding_bottom_container: 1.1 * ($max_height_player-profile - $max_height_img1);

.content-area {
    width: $max_width;
}

#container {
    position:relative;
}

.player-detail-intro-img {
    width: 100%;
    max-height: $max_height_img1;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.player_image {
    width: 20%;
    max-height: $max_height_player-profile;
    height: auto;
    border-radius: 50%;
    position: absolute;
    bottom: 0%;
    transform: translate(0%, 0%);
}

.text-box {
    z-index: 100;
    position: absolute;
    text-align: right;
    width: 100%;
    bottom: 0%;
}
.text-box:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
}

h3 {
    display: inline-block;
    font-size: 3vw; /*or whatever you want*/
    min-font-size: 20px;
    color: #FFF;
}
