<div *ngIf="player" class="content-container">
    <div class="content-area">
        <h1 id="intro" #intro>{{player.name}} Homepage</h1>

        <div id="container">
            <img src="../images/home/image5.jpg" class="player-detail-intro-img" />
            <img class="player_image" [src]="player.imageLink" alt="{{player.name}}">
        </div>

        <app-player-detail-intro *ngIf="playerHistoryLoaded && areTeamsLoaded()" [playerHistory]="playerHistory" [teamsByTeamId]="indexTeams()"></app-player-detail-intro>

        <div *ngIf="isEverythingLoaded()">
            <player-detail-statistics [teams]="teams" [player]="player" [playerHistory]="playerHistory" [playerToTeamSport]="playerToTeamSport"></player-detail-statistics>
            <md-grid-list cols="4" rowHeight="900px">
                <md-grid-tile *ngFor="let playerToTeam of playerHistory" [colspan]="1" [rowspan]="1">
                    <app-player-to-team-card [playerToTeam]="playerToTeam" (entryDeleted)="removePlayerToTeamEntry($event)"></app-player-to-team-card>
                </md-grid-tile>
            </md-grid-list>


        </div>


        <div *ngIf="playerToTeamSportLoaded">
            <player-detail-team-sports [player]="player" [playerToTeamSport]="playerToTeamSport"></player-detail-team-sports>
        </div>

        <div>
            <h1 id="comments" #comments>Comments</h1>
            <player-comments [player]="player"></player-comments>
        </div>

        <div>
            <h1 id="rewards" #rewards>Rewards</h1>
            <player-rewards [player]="player"></player-rewards>
        </div>

        <button class="btn btn-info-outline" (click)="goBack()">Back</button>

    </div>
</div>
