<div *ngIf="player" class="content-container">
    <div class="content-area">
        <h1 id="intro" #intro>{{player.name}} Homepage</h1>

        <div id="container">
            <img src="../images/home/image5.jpg" class="player-detail-intro-img" />
            <img class="player_image" [src]="player.imageLink" alt="{{player.name}}">
        </div>


        <div *ngIf="isEverythingLoaded()">
            <player-detail-statistics [teams]="teams" [player]="player" [playerHistory]="playerHistory" [playerToTeamSport]="playerToTeamSport"></player-detail-statistics>
        </div>


        <div *ngIf="playerToTeamSportLoaded">
            <player-detail-team-sports [player]="player" [playerToTeamSport]="playerToTeamSport"></player-detail-team-sports>
        </div>

        <div>
            <h1 id="comments" #comments>Comments</h1>
            <player-comments [player]="player"></player-comments>
        </div>

        <div>
            <h1 id="rewards" #rewards>Rewards</h1>
            <player-rewards [player]="player"></player-rewards>
        </div>

        <button class="btn btn-info-outline" (click)="goBack()">Back</button>

    </div>
</div>
