<sebm-google-map [streetViewControl]="false" [zoom]="4" [latitude]="center.lat" [longitude]="center.lng"
                 (boundsChange)="print($event)">

    <sebm-google-map-marker [latitude]="center.lat" [longitude]="center.lng"
                            iconUrl="./images/icons/footballfield.png">
        <sebm-google-map-info-window [disableAutoPan]="true">
            <div class="google-marker">
                <h1>{{team.name}}</h1>
                <p>Club Location:</p>
                <p>{{team.location}}</p>
                <img class="marker_img" [src]="team.emblemLink" alt="{{team.name}}">
            </div>
        </sebm-google-map-info-window>
    </sebm-google-map-marker>

    <sebm-google-map-marker *ngFor="let markerInfoToDisplay of markersInfoToDisplay"
                            [latitude]="markerInfoToDisplay.location.lat"
                            [longitude]="markerInfoToDisplay.location.lng"
                            iconUrl="./images/icons/football.png">
        <sebm-google-map-info-window [disableAutoPan]="true">
            <div class="google-marker">


                <div class="card radius shadowDepth1">
                    <div class="card__image border-tlr-radius">
                        <img [src]="markerInfoToDisplay.object.imageLink" alt="{{markerInfoToDisplay.object.name}}" class="marker_img border-tlr-radius">
                    </div>

                    <div class="card__content card__padding">
                        <div class="card__share">
                            <div id="share" class="share-toggle share-icon" (click)="gotoPlayerDetails(markerInfoToDisplay.object)"></div>
                        </div>

                        <div class="card__meta">
                            <a href="#">Player</a>
                            <span>{{markerInfoToDisplay.object?.nickname}}</span>
                        </div>

                        <article class="card__article">
                            <h2>{{markerInfoToDisplay.object.name}}</h2>

                            <p>{{markerInfoToDisplay.object.bornAddress}}</p>
                        </article>
                    </div>
                </div>


            </div>
        </sebm-google-map-info-window>
    </sebm-google-map-marker>
</sebm-google-map>
