<clr-modal #modal [(clrModalOpen)]="open" [clrModalClosable]="false">
    <h3 class="modal-title">Add your sport position:</h3>
    <div class="modal-body">
        <p>Clicking on the backdrop doesn't do anything.</p>
        <app-player-to-sport-details-cud [(model)]="model" [player]="player" (form)="form = $event"></app-player-to-sport-details-cud>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" [disabled]="submitting" (click)="open = false">Cancel</button>
        <button type="button" class="btn btn-primary" [disabled]="submitting || !form || !form.valid" (click)="onSubmit()">Submit</button>
    </div>
</clr-modal>
<p-growl [value]="msgs"></p-growl>
