<h3 matDialogTitle>Player to Team Sport Details:</h3>
<mat-dialog-content *ngIf="!isBusy(); else loading">
  <app-player-to-sport-details-cud *ngIf="player" [editing]="true" [(model)]="model" [player]="player" (form)="form = $event"></app-player-to-sport-details-cud>
</mat-dialog-content>
<mat-dialog-actions class="footer">
  <button mat-button color="primary" [disabled]="submitting" (click)="closeDialog()">Cancel</button>
  <button mat-raised-button color="primary" [disabled]="submitting || !form || !form.valid" (click)="onSubmit()">Submit</button>
</mat-dialog-actions>

<ng-template #loading>
    <mat-progress-spinner mode="indeterminate">
    </mat-progress-spinner>
</ng-template>
