<h1>
  Match Rewards!
</h1>

<div *ngIf="manOfTheMatch" class="wrapper" matTooltip="Man of the match">
    <img class="big-img" [src]="manOfTheMatch.picture" />
    <img class="small-img" src="../images/rewards/manOfTheMatch.png" />

    <div class="Confetti pos1 color1 size1 animate1">
        <div></div>
    </div>
    <div class="Confetti pos2 color2 size2 animate2">
        <div></div>
    </div>
    <div class="Confetti pos3 color3 size3 animate3">
        <div></div>
    </div>
    <div class="Confetti pos4 color4 size4 animate4">
        <div></div>
    </div>
    <div class="Confetti pos5 color5 size5 animate5">
        <div></div>
    </div>
    <div class="Confetti pos6 color6 size6 animate6">
        <div></div>
    </div>
    <div class="Confetti pos7 color7 size7 animate7">
        <div></div>
    </div>
    <div class="Confetti pos8 color8 size8 animate8">
        <div></div>
    </div>
    <div class="Confetti pos9 color9 size9 animate9">
        <div></div>
    </div>
    <div class="Confetti pos10 color10 size10 animate10">
        <div></div>
    </div>
    <div class="Confetti pos11 color2 size1 animate3">
        <div></div>
    </div>
    <div class="Confetti pos12 color4 size3 animate4">
        <div></div>
    </div>
    <div class="Confetti pos13 color6 size5 animate5">
        <div></div>
    </div>
    <div class="Confetti pos14 color8 size7 animate6">
        <div></div>
    </div>
    <div class="Confetti pos15 color10 size9 animate7">
        <div></div>
    </div>

</div>
