<clr-wizard #wizard [(clrWizardOpen)]="open">
    <div class="wizard-title">
        Form to add your player history
    </div>

    <clr-wizard-step>Select the team</clr-wizard-step>
    <clr-wizard-step>Add the dates</clr-wizard-step>
    <clr-wizard-step>Entry added</clr-wizard-step>

    <clr-wizard-page [clrWizardPageNextDisabled]="!team">
        <div class="row flex-items-xs-center">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <team-search (teamClicked)="setTeam($event)"></team-search>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div *ngIf="team" class="team-container">
                    <img [src]="team.emblemLink" class="team-emblem" alt="{{team.name}}">
                </div>
            </div>
        </div>
    </clr-wizard-page>
    <clr-wizard-page [clrWizardPageNextDisabled]="!isValidForm()" (clrWizardPageOnCommit) = submitEntry()>
        <app-player-to-team-cud [(model)]="model" [team]="team" (form)="setPlayerToTeamForm($event)"></app-player-to-team-cud>
    </clr-wizard-page>
    <clr-wizard-page>
        Congratulations! You are done with this wizard.
    </clr-wizard-page>
</clr-wizard>
