<clr-wizard #wizard [(clrWizardOpen)]="open" (clrWizardOnCancel)="closeWizard()">
    <div class="wizard-title">
        Form to add your player history
    </div>

    <clr-wizard-step>Select the team</clr-wizard-step>
    <clr-wizard-step>Add the dates</clr-wizard-step>

    <clr-wizard-page [clrWizardPageNextDisabled]="!team">
        <div class="row flex-items-xs-center">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <team-search (teamClicked)="setTeam($event)"></team-search>
                <clr-icon *ngIf = "team != null" shape="remove" class="clickable is-danger" size="36" (click)="team = null"></clr-icon>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div *ngIf="team" class="team-container">
                    <img [src]="team.emblemLink" class="team-emblem" alt="{{team.name}}">
                </div>
            </div>
        </div>

        <p>Or, if yoy don't find your football team, you can add it</p>
        <button type="submit" class="btn btn-link" (click)="addTeam = !addTeam">Add a new team</button>
        <team-cud-inside-form *ngIf="addTeam" (form)="theTeamForm"></team-cud-inside-form>
    </clr-wizard-page>
    <clr-wizard-page [clrWizardPageNextDisabled]="!isValidForm() || submitting" [clrWizardPagePreventDefault]="true" (clrWizardPageOnCommit) = submitEntry()>
        <app-player-to-team-cud [(model)]="model" [team]="team" (form)="setPlayerToTeamForm($event)"></app-player-to-team-cud>
        <div class="spinner" *ngIf="submitting">
            Submitting...
        </div>
    </clr-wizard-page>
</clr-wizard>
