<ng-container *ngIf="isReady() && isEditable()">
    <form>
        <mat-select placeholder="Add Match Event" [(ngModel)]="selectedMatchEvent" name="event">
            <mat-option *ngFor="let eventType of getKeys(eventSchemas)" [value]="eventType">
                {{eventType}}
            </mat-option>
        </mat-select>
    </form>

    <sf-form *ngIf="selectedMatchEvent" [schema]="getValue(selectedMatchEvent)" (onChange)="myEvent=$event.value"></sf-form>
    MyEvent: {{'{'}} {{selectedMatchEvent}}:{{myEvent | json}} {{'}'}}<br/>
    <button color="primary" mat-raised-button (click)="addMockEvent()">Add Event</button>
</ng-container>

<ng-template #eventsSchemasLoading>
    <mat-progress-spinner *ngIf="eventsSchemasLoading"></mat-progress-spinner>
    <ng-container *ngIf="eventsSchemasErrorLoading">Error loading schemas</ng-container>
</ng-template>
