<ng-container *ngIf="eventsSchemasLoading == false && eventsSchemasErrorLoading == false && eventSchemas">
    <form>
        <md-select placeholder="Add Match Event" [(ngModel)]="selectedMatchEvent" name="event">
            <md-option *ngFor="let eventType of getKeys(eventSchemas)" [value]="eventType">
                {{eventType}}
            </md-option>
        </md-select>
    </form>

    <sf-form *ngIf="selectedMatchEvent" [schema]="getValue(selectedMatchEvent)" (onChange)="myEvent=$event.value"></sf-form>
    MyEvent: {{'{'}} {{selectedMatchEvent}}:{{myEvent | json}} {{'}'}}<br/>
    <button color="primary" md-raised-button (click)="addMockEvent()">Add Event</button>
</ng-container>

goal Schema Event: {{eventSchemas.goal | json}}
