<ng-container *ngIf="isReady()">
    <form>
        <md-select placeholder="Add Match Event" [(ngModel)]="selectedMatchEvent" name="event">
            <md-option *ngFor="let eventType of getKeys(eventSchemas)" [value]="eventType">
                {{eventType}}
            </md-option>
        </md-select>
    </form>

    <sf-form *ngIf="selectedMatchEvent" [schema]="getValue(selectedMatchEvent)" (onChange)="myEvent=$event.value"></sf-form>
    MyEvent: {{'{'}} {{selectedMatchEvent}}:{{myEvent | json}} {{'}'}}<br/>
    <button color="primary" md-raised-button (click)="addMockEvent()">Add Event</button>
</ng-container>

<ng-template #eventsSchemasLoading>
    <md-progress-spinner *ngIf="eventsSchemasLoading"></md-progress-spinner>
    <ng-container *ngIf="eventsSchemasErrorLoading">Error loading schemas</ng-container>
</ng-template>

goal Schema Event: {{eventSchemas.goal | json}}

<md-input-container floatPlaceholder="never">
    <input mdInput #filter placeholder="Filter users">
</md-input-container>

<md-table #table [dataSource]="dataSource">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container cdkColumnDef="userId">
        <md-header-cell *cdkHeaderCellDef> ID </md-header-cell>
        <md-cell *cdkCellDef="let row"> {{row.id}} </md-cell>
    </ng-container>

    <!-- Progress Column -->
    <ng-container cdkColumnDef="progress">
        <md-header-cell *cdkHeaderCellDef> Progress </md-header-cell>
        <md-cell *cdkCellDef="let row"> {{row.progress}}% </md-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container cdkColumnDef="userName">
        <md-header-cell *cdkHeaderCellDef> Name </md-header-cell>
        <md-cell *cdkCellDef="let row"> {{row.name}} </md-cell>
    </ng-container>

    <!-- Color Column -->
    <ng-container cdkColumnDef="color">
        <md-header-cell *cdkHeaderCellDef> Color </md-header-cell>
        <md-cell *cdkCellDef="let row" [style.color]="row.color"> {{row.color}} </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
</md-table>
