<div class="card">
    <div class="card-header">
        My Player Career
    </div>
    <div class="card-block">
        <div class="card-title">
            Add from when to when you played in which team
        </div>
        <div class="card-text">

            <div *ngIf="!player" class="alert alert-warning">
                <div class="alert-item">
                    <span class="alert-text">You haven't added a player yet</span>
                </div>
            </div>

            <div *ngIf="player && !isPlayerHistoryLoaded()"  class="spinner">
                Loading...
            </div>
            <div *ngIf="player && isPlayerHistoryLoaded()">
                <div *ngIf="noEntries()">
                    <div class="alert alert-warning">
                        <div class="alert-item">
                            <span class="alert-text">You haven't added any entry in your history</span>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" (click)="openWizard = true">Open wizard</button>
                <app-player-to-team-wizard [(open)]="openWizard"></app-player-to-team-wizard>
                <my-player-history-table [(playerHistory)]="playerHistory" [player]="player"></my-player-history-table>
            </div>

        </div>
    </div>
</div>
