<md-card class="example-card" [@cardplayercomment]>
    <md-card-header>
        <div md-card-avatar [ngStyle]="{'background-image': 'url(' + user.picture + ')'}" class="example-header-image"></div>
        <md-card-title>{{getUsername()}}</md-card-title>
        <md-card-subtitle>Comment written {{playerComment.when}}: {{playerComment.reason}}</md-card-subtitle>
    </md-card-header>
    <md-card-content>
        <hr class="line">
        <blockquote>
            <div class='fa fa-quote-right'></div>
            <p id='quote'>{{playerComment.comment}}</p>
            <footer>
                <cite>
                    <span class='author' id='author'>{{getUsername()}}</span>
                </cite>
            </footer>
        </blockquote>
    </md-card-content>
    <md-card-actions *ngIf="deleteable">
        <hr class="line">
        <button md-button (click)="deleteComment()"><md-icon>delete</md-icon></button>
    </md-card-actions>
</md-card>
