<div class="row flex-items-xs-center">
<div class="card yellow">
    <div class="card-block">
        <div class="card-media-block wrap blue">
            <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="false" styleClass="steps-custom"></p-steps>
        </div>
        <div [ngSwitch]="activeIndex" class="card-text">
            <home-how-to-introduction *ngSwitchCase="0"></home-how-to-introduction>
            <home-how-to-login *ngSwitchCase="1"></home-how-to-login>
            <home-how-to-what-to-do *ngSwitchCase="2"></home-how-to-what-to-do>
        </div>
    </div>
</div>
</div>
