<div [formGroup]="playerForm">
    <div class="row">
        <section class="form-block col-lg-6 col-md-8 col-sm-10 col-xs-12">
            <div class="form-group">
                <label><strong>Player Name</strong></label>
                <label for="name" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm"
                       [class.invalid]="playerForm.get('name').invalid">
                    <input #name type="text" placeholder="Enter the name of the player" size="35" required
                           [(ngModel)]="model.name" id="name" name="name" formControlName="name">
                    <span class="tooltip-content">The player name is not valid!</span>
                </label>
            </div>
            <div class="form-group">
                <label><strong>Player Nickname</strong></label>
                <label for="nickname" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm"
                       [class.invalid]="playerForm.get('nickname').invalid">
                    <input #nickname type="text" placeholder="Enter the nickname of the player" size="35" required
                           [(ngModel)]="model.nickname" id="nickname" name="nickname" formControlName="nickname">
                    <span class="tooltip-content">The player nickname is not valid!</span>
                </label>
            </div>

            <div class="form-group">
                <label for="bornAddress"><strong>Born Address of the player:</strong></label>
                <label for="bornAddress" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm"
                       [class.invalid]="playerForm.get('bornAddress').invalid">
                    <input #bornAddress type="text" placeholder="Enter value here" size="55"
                           [(ngModel)]="model.bornAddress" id="bornAddress" name="bornAddress" formControlName="bornAddress">
                    <span class="tooltip-content">The player born address is not valid!</span>
                </label>
                <clr-icon shape="search" [class.clickable]="bornAddress.value" (click)="searchLocation(bornAddress.value)"></clr-icon>
                <sebm-google-map [streetViewControl]="false" [zoom]="4" [latitude]="getCenter().lat" [longitude]="getCenter().lng"
                                 disableDoubleClickZoom="true" scrollwheel="false">
                    <sebm-google-map-marker *ngIf="isValidLocation()" [latitude]="location.lat"
                                            [longitude]="location.lng">
                    </sebm-google-map-marker>

                </sebm-google-map>
            </div>
        </section>

        <div class="col-lg-6 col-md-4 col-sm-10 col-xs-12">
            <label><strong>Link to your image:</strong></label>
            <label for="imageLink" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-sm"
                   [class.invalid]="playerForm.get('imageLink').invalid">
                <input #imageLink type="url" placeholder="Enter the link to your image" size="35"
                       [(ngModel)]="model.imageLink" id="imageLink" name="imageLink" formControlName="imageLink">
                <span class="tooltip-content">The player image link is not valid!</span>
            </label>
            <div class="col-lg-6 col-md-4 col-sm-10 col-xs-12">
                <img [src]="model.imageLink" class="profile-img" alt="No img found">
            </div>
        </div>

    </div>
</div>
