@import "../_pitch";

$player_width: 5%;

.player_icon {
    position: absolute;
    top : $pitch_extra_grass_sides_percentage;
    left : $pitch_extra_grass_front_line_percentage;
    height: auto;
    width: $player_width;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.player_img {
    position: relative;
    width: 100%;
    border-radius: 50%;
}

.player_img:hover {
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(2px);
}

.player_icon:hover .hero-text {
    display: block;
}

/* Place text in the middle of the image */
.hero-text {
    display: none;
    width: 140%;
    text-align: center;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-text span {
    font-size: 11px;
}
