<div id="parallax-world-of-ugg">

    <section>
        <div class="title">
            <h3>Welcome to</h3>
            <h1>TeamBuilting</h1>
        </div>
    </section>

    <section>
        <div class="parallax-one" [ngStyle]="{'background-image': 'url(../images/home/image1.jpg)'}">
            <h2>The Sport Network for amateur players!</h2>
        </div>
    </section>

    <section>
        <div class="block">
            <p>TeamBuilting allows you to register your sport career.</p>
            <p class="line-break margin-top-10"></p>
        </div>
    </section>

    <section>
        <div class="parallax-two" [ngStyle]="{'background-image': 'url(../images/home/image4.jpg)'}">
            <h2>Add the teams you have played in and the period</h2>
        </div>
    </section>

    <section>
        <div class="block">
            <p>It is really easy, you just have to add your team, (if it not already registered), and add the dates you have played in it.</p>
            <p class="line-break margin-top-10"></p>
        </div>
    </section>

    <section>
        <div class="parallax-three" [ngStyle]="{'background-image': 'url(../images/home/image3.jpg)'}">
            <h2>See Your Statistics</h2>
        </div>
    </section>

    <section>
        <div class="block">
            <p>Thanks to TeamBuilting, you will be able to see your statistics. The number of teams and sports you have played, the dates, and being in contact with your teammates!</p>
            <p class="line-break margin-top-10"></p>
        </div>
    </section>

</div>
