<form *ngIf="!isBusy" [formGroup]="teamForm" (change)="emitForm()">

    <section class="team-info">
        <img src="http://img.clipartall.com/sports-balls-clipart-borders-clipart-panda-free-clipart-images-sport-clipart-1300_769.jpg">
        <label>Team Info</label>
        <md-input-container class="example-full-width">
            <input mdInput type="text" placeholder="Team Name" formControlName="name" [(ngModel)]="model.name" required>
            <md-error>Name is required.</md-error>
        </md-input-container>

        <md-select placeholder="Sport" [(ngModel)]="model.sport" formControlName="sport" required>
            <md-option value="" [disabled]="true">Select a sport...</md-option>
            <md-option *ngFor="let sport of sports" [value]="sport.name">{{sport.name}}</md-option>
        </md-select>

        <md-input-container class="example-full-width">
            <textarea mdInput placeholder="Description" rows="3" [(ngModel)]="model.bio" id="bio" name="bio" formControlName="bio"></textarea>
            <md-error>Description of the team not valid.</md-error>
        </md-input-container>
    </section>

    <section>
        <label>Team Dates</label>

        <md-input-container>
            <input #fromDate mdInput placeholder="From date" type="date" [(ngModel)]="model.fromDate" [value]="getFromDate()"
                   formControlName="fromDate" required>
            <md-error *ngIf="teamForm.get('fromDate').invalid">Not valid</md-error>
        </md-input-container>

        <md-input-container>
            <input #toDate mdInput placeholder="To date" id="toDate" type="date" formControlName="toDate" [(ngModel)]="model.toDate" [value]="getToDate()"
                   [required]="!stillActive">
            <md-error *ngIf="teamForm.get('toDate').invalid">Not valid</md-error>
        </md-input-container>

        <md-checkbox class="example-margin" [(ngModel)]="stillActive" [ngModelOptions]="{standalone: true}">Still Active</md-checkbox>
    </section>

    <md-input-container>
        <input #emblemLink mdInput placeholder="Team Emblem Link" id="emblemLink" type="url" formControlName="emblemLink" [(ngModel)]="model.emblemLink">
        <md-error *ngIf="teamForm.get('emblemLink').invalid">Not valid</md-error>
    </md-input-container>

    <md-input-container>
        <button md-icon-button mdPrefix [disabled]="!theLocation.value" (click)="searchLocation(theLocation.value)"><md-icon>search</md-icon></button>
        <input mdInput #theLocation placeholder="Team Location" id="location" type="url" formControlName="location" [(ngModel)]="model.location">
        <md-error *ngIf="!validLocation">Location not found in the map</md-error>
    </md-input-container>

    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <img [src]="model.emblemLink" class="emblemImage">
    </div>

    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <sebm-google-map [streetViewControl]="false" [zoom]="4" [latitude]="getCenter().lat" [longitude]="getCenter().lng"
                         disableDoubleClickZoom="true" scrollwheel="false">
            <sebm-google-map-marker *ngIf="isValidLocation()" [latitude]="location.lat"
                                    [longitude]="location.lng">
            </sebm-google-map-marker>
        </sebm-google-map>
    </div>

</form>

<md-progress-spinner *ngIf="isBusy" mode="indeterminate">
</md-progress-spinner>

<div *ngIf="!isBusy && !sports" class="alert alert-danger">
    <div class="alert-item">
        <span class="alert-text">Add team form cannot be loaded</span>
    </div>
</div>
