{{schema.description}}:
<ng-container *ngIf="!schema.enum">
    <mat-form-field>
        <input [attr.id]="id" [attr.name]="name" matInput [formControl]="control" [placeholder]="schema.title"
               [readonly]="schema.readOnly?true:null" [value]="value">
    </mat-form-field>
</ng-container>

<ng-container *ngIf="schema.enum">
    <mat-select [placeholder]="schema.title" [formControl]="control" name="name">
        <mat-option *ngFor="let value of schema.enum" [value]="value">
            {{value}}
        </mat-option>
    </mat-select>
</ng-container>
