<form [formGroup]="playerCommentForm">

    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + auth.userProfile.picture + ')'}" class="example-header-image"></div>
            <mat-card-title>Write a comment</mat-card-title>
            <mat-card-subtitle>to {{player.name}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <hr class="line">
            <section>
                <mat-select #reason placeholder="How do you know this player?" [(ngModel)]="model.reason" formControlName="reason">
                    <mat-option *ngFor="let reason of commentReasons" [value]="reason">
                        {{reason}}
                    </mat-option>
                </mat-select>
            </section>

            <section>
                <mat-form-field>
                <textarea matInput #comment name="comment" placeholder="Comment" [(ngModel)]="model.comment"
                          formControlName="comment" id="comment" cols="50"
                          rows="5" [required]></textarea>
                    <mat-error>Comment is required.</mat-error>
                </mat-form-field>
            </section>

        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button [disabled]="playerCommentForm.invalid || playerCommentSubmitting"
                    (click)="submitComment()">Submit</button>
        </mat-card-actions>
    </mat-card>

</form>
