.billing-calendar {
  margin: -$main-padding !important;

  .period-select {
    text-align: center;

    .month-picker {
      padding-bottom: 4px;

      .active-month {
        font-size: 15px;
        font-weight: 600;
      }
    }
  }

  // Summary of months (1st column)
  .month-status {
    font-weight: 800;
    $month-height: 22px;
    height: $month-height;
    line-height: $month-height;
    padding: 10px 10px 0 10px;

    > a {
      color: $black-87-opacity;
      text-decoration: none;
      display: block;
      cursor: pointer;

      &:hover {
        background: rgba(mat-color($mat-secondary, 500), 0.08);
      }
    }

    .label {
      font-size: 10px;
      font-weight: 400;
      color: white;
      padding: 2px 3px;
      @include border-radius();

      &.error {
        background: mat-color($mat-error, 500);
      }
      &.warn {
        background: mat-color($mat-warn, 500);
      }
    }
  }

  // Title days bar
  .day-of-the-week {
    $day-title-height: 40px;
    border-top: solid 1px mat-color($mat-grey, 200);
    border-bottom: solid 1px mat-color($mat-grey, 200);
    background: mat-color($mat-grey, 50);
    color: mat-color($mat-grey, 500);
    font-weight: 600;
    height: $day-title-height;
    line-height: $day-title-height;
    text-align: center;
  }

  .column-calendar {
    width: calc(100%/7);

    &:last-child {
      .day {
        border-right: solid 1px mat-color($mat-grey, 200);
      }
    }
  }

  // Day blocks
  .day {
    height: 57px;
    position: relative;
    padding: 4px;
    border: solid 1px mat-color($mat-grey, 200);
    border-right: none;
    border-top: none;

    .day_no {
      margin-bottom: 2px;
    }

    &.weekend,
    &.prev-month {
      background: mat-color($mat-grey, 50);
      color: mat-color($mat-grey, 400);
    }

    .billing-status-indicator {
      color: white;
      padding: 2px;
      overflow: hidden;
      border: solid 1px mat-color($mat-grey, 200);

      .indicator {
        float: left;
        width: calc(100%/3 - 2px);
        border-right: solid 2px white;
        text-align: center;
        font-size: 11px;
        height: 18px;
        line-height: 18px;

        > a {
          cursor: pointer;
          color: white;
          text-decoration: none;
          display: block;

          &:hover {
            background: rgba(white, 0.15);
          }
        }

        .material-icons {
          font-size: 16px;
        }

        &.sent {
          background: #5576A4;
        }

        &.calc {
          background: #44A0C9;
        }

        &.status {

          &.error {
            background: mat-color($mat-error, 500);
            border-right-color: mat-color($mat-error, 500);
          }
          &.warn {
            background: mat-color($mat-warn, 500);
            border-right-color: mat-color($mat-warn, 500);
          }

          &.success {
            background: mat-color($mat-success, 500);
            border-right-color: mat-color($mat-success, 500);
          }
        }
      }
    }
  }

  // Summary totals (last columm)
  .summary-box {
    padding: 10px;

  }
}
