<form *ngIf="sport" [formGroup]="sportDetailsForm" (change)="emitForm()">

    <section class="positions margin">

        <mat-select #mainPosition placeholder="Select Your Main Position" [(ngModel)]="model.mainPosition"
                   formControlName="mainPosition" (change)="emitForm()" required>
            <mat-option *ngFor="let position of getPositions(model.sport)" [value]="position.abbreviation">
                {{position.fullName}}
            </mat-option>
        </mat-select>

        <mat-select #otherPositions placeholder="Select Your Other Positions" [multiple]="true"
                   [(ngModel)]="model.otherPositions" formControlName="otherPositions" (change)="emitForm()">
            <mat-option *ngFor="let position of getSparePositions(model.sport)" [value]="position.abbreviation">
                {{position.fullName}}
            </mat-option>
        </mat-select>

    </section>

    <section class="bio margin">
        <mat-form-field class="example-full-width">
            <textarea #bio matInput placeholder="Bio" rows="5" [(ngModel)]="model.bio" formControlName="bio" id="bio"
                      name="bio" [readOnly]="!editing"></textarea>
            <mat-error>Description of the position not valid.</mat-error>
        </mat-form-field>
    </section>

</form>
