<h3 matDialogTitle>Add reward to {{player?.name}}</h3>
<mat-dialog-content>
    <div *ngIf="!isAuthenticated()" class="alert alert-warning">
        <div class="alert-item">
            <span class="alert-text">You need to be logged in to give a reward</span>
        </div>
    </div>

    <label>Reward for season {{season?.startDate.getFullYear()}}-{{season?.endDate.getFullYear()}}</label>

    <form *ngIf="!submittingReward; else submitting" [formGroup]="playerRewardForm">

        <section>
            <mat-select #reward placeholder="Reward" name="reward" [(ngModel)]="model.reward" formControlName="reward" required>
                <mat-option *ngFor="let reward of rewards" [value]="reward.dbName">
                    <mat-icon [svgIcon]="'reward:' + reward.object.icon"></mat-icon>
                    {{reward.object.name}}
                </mat-option>
            </mat-select>
        </section>
        <section>
            <div>
                <label for="comment">Comment</label>
                <mat-form-field>
                    <textarea matInput #comment id="comment" placeholder="Comment..." rows="5" maxlength="200" [(ngModel)]="model.comment"
                              formControlName="comment"></textarea>
                    <mat-error>Comment not allowed</mat-error>
                    <mat-hint>{{comment.value.length}} / 200</mat-hint>
                </mat-form-field>
            </div>
        </section>

    </form>
    <ng-template #submitting>
        Submitting...
        <mat-progress-spinner mode="indeterminate">
        </mat-progress-spinner>
    </ng-template>
</mat-dialog-content>
<mat-dialog-actions class="footer">
    <button mat-button (click)="closeModal()">Cancel</button>
    <button mat-raised-button color="primary" [disabled]="isNotAuthenticated() || playerRewardForm.invalid || submittingReward" (click)="onSubmit()">
        Ok
    </button>
</mat-dialog-actions>
