<h3 md-dialog-title>Add reward to {{player?.name}}</h3>
<md-dialog-content>
    <div *ngIf="!isAuthenticated()" class="alert alert-warning">
        <div class="alert-item">
            <span class="alert-text">You need to be logged in to give a reward</span>
        </div>
    </div>

    <label>Reward for season {{season?.startDate.getFullYear()}}-{{season?.endDate.getFullYear()}}</label>

    <form *ngIf="!submittingReward; else submitting" [formGroup]="playerRewardForm">

        <section>
            <md-select #reward placeholder="Reward" name="reward" [(ngModel)]="model.reward" formControlName="reward" required>
                <md-option *ngFor="let reward of rewards" [value]="reward.dbName">
                    <md-icon [svgIcon]="'reward:' + reward.object.icon"></md-icon>
                    {{reward.object.name}}
                </md-option>
            </md-select>
        </section>
        <section>
            <div>
                <label for="comment">Comment</label>
                <md-input-container>
                    <textarea mdInput #comment id="comment" placeholder="Comment..." rows="5" maxlength="200" [(ngModel)]="model.comment"
                              formControlName="comment"></textarea>
                    <md-error>Comment not allowed</md-error>
                    <md-hint>{{comment.value.length}} / 200</md-hint>
                </md-input-container>
            </div>
        </section>

    </form>
    <ng-template>
        Submitting...
        <md-progress-spinner mode="indeterminate">
        </md-progress-spinner>
    </ng-template>
</md-dialog-content>
<md-dialog-actions class="footer">
    <button md-button (click)="closeModal()">Cancel</button>
    <button md-raised-button color="primary" [disabled]="isNotAuthenticated() || playerRewardForm.invalid || submittingReward" (click)="onSubmit()">
        Ok
    </button>
</md-dialog-actions>
