$height: 20vh;

.section {
    position: relative;
    align-content: center;
    align-items: center;
    height: $height;
    max-height: $height;
    width: 100%;
}

.team_emblem {
    width: auto;
    height: auto;
    max-height: $height;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.clickable img {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.clickable img:hover {
    opacity: .5;
}
