$height: 20vh;

.team_emblem {
    width: auto;
    height: auto;
    max-height: $height;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.section {
    position: relative;
    align-content: center;
    align-items: center;
    height: $height;
    width: 100%;
}
