<div *ngIf="!isBusyLoadingSports && !isErrorLoadingSports(); else notReady">

    <section class="section">
        <mat-select #sportName placeholder="Select the Sport" [(ngModel)]="model.sport" required>
            <mat-option *ngFor="let sport of sports" [value]="sport.name" [disabled]="isSportRegistered(sport.name)">
                {{sport.name}}
            </mat-option>
        </mat-select>
    </section>

    <section class="section">
        <label class="label-margin">Position</label>
        <app-player-to-sport-details-common-cud *ngIf="model.sport" class="margin"
                                                [sport]="filterTeamSportBySportName(model.sport)[0]" [(model)]="model" (form)="emitForm($event)"></app-player-to-sport-details-common-cud>
    </section>

    <div *ngIf="isShowSportField()">
        <h1>Position:</h1>

        <section class="section">
            <div [ngSwitch]="model.sport">
                <player-football-position *ngSwitchCase="'Football'" [players]="[player]"
                                          [playersDetails]="[model]">Loading football position...</player-football-position>
                <player-futsal-position *ngSwitchCase="'Futsal'" [players]="[player]"
                                        [playersDetails]="[model]">Loading futsal position...</player-futsal-position>
            </div>
        </section>
    </div>

</div>

<ng-template #notReady>
    <mat-progress-spinner *ngIf="isBusyLoadingSports" mode="indeterminate">
    </mat-progress-spinner>
    <div *ngIf="isErrorLoadingSports()">
        Error loading the sports, try again.
    </div>
</ng-template>
