<md-progress-spinner *ngIf="isBusyLoadingSports" mode="indeterminate">
</md-progress-spinner>

<div *ngIf="!isBusyLoadingSports && !isErrorLoadingSports()">
    <form [formGroup]="sportDetailsForm" (change)="emitForm()">
        <section class="form-block">

            <div class="form-group row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <label for="sportInput_name">Sport</label>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <label for="sportInput_name" aria-haspopup="true" role="tooltip"
                           [class.invalid]="sportDetailsForm.get('sport').invalid"
                           class="tooltip tooltip-validation tooltip-md tooltip-bottom-right">
                        <div class="select">
                            <select id="sportInput_name" [(ngModel)]="model.sport" formControlName="sport" #sport>
                                <option [selected]="true" disabled>Select a sport...</option>
                                <option *ngFor="let sport of sports">{{sport.name}}</option>
                            </select>
                        </div>
                    </label>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div *ngIf="model.sport">
                        <label for="sportInput_mainPosition" aria-haspopup="true" role="tooltip"
                               [class.invalid]="sportDetailsForm.get('mainPosition').invalid"
                               class="tooltip tooltip-validation tooltip-md tooltip-bottom-right">
                            <div class="select">
                                <select id="sportInput_mainPosition" [(ngModel)]="model.mainPosition" formControlName="mainPosition" #mainPosition>
                                    <option [selected]="true" disabled>Select your main position...</option>
                                    <option *ngFor="let position of getPositions(model.sport)" [value]="position.abbreviation">{{position.fullName}}</option>
                                </select>
                            </div>
                        </label>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div *ngIf="model.sport" >
                        <label for="sportInput_otherPositions">Other Positions:</label>
                        <div class="sportInput_otherPositions">
                            <select id="sportInput_otherPositions" multiple [(ngModel)]="model.otherPositions" formControlName="otherPositions" #otherPositions>
                                <option [selected]="true" disabled>Select your other positions...</option>
                                <option *ngFor="let position of getSparePositions(model.sport)" [value]="position.abbreviation">{{position.fullName}}</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <label for="sportInput_bio">Bio</label>
                <textarea id="sportInput_bio" rows="5" [(ngModel)]="model.bio" formControlName="bio" #bio></textarea>
            </div>

        </section>
    </form>

    <div *ngIf="isShowSportField()">
        <h1>Position:</h1>
        <div [ngSwitch]="model.sport">
            <player-football-position *ngSwitchCase="'Football'" [players]="[player]"
                                      [playersDetails]="[model]">Loading football position...</player-football-position>
            <player-futsal-position *ngSwitchCase="'Futsal'" [players]="[player]"
                                    [playersDetails]="[model]">Loading futsal position...</player-futsal-position>
        </div>
    </div>

</div>


<div *ngIf="isErrorLoadingSports()">
    Error loading the sports, try again.
</div>
