<md-progress-spinner *ngIf="isBusyLoadingSports" mode="indeterminate">
</md-progress-spinner>

<div *ngIf="!isBusyLoadingSports && !isErrorLoadingSports()">

    <md-select #sport placeholder="Select the Sport" [(ngModel)]="model.sport" required>
        <md-option *ngFor="let sport of sports" [value]="sport.name">
            {{sport.name}}
        </md-option>
    </md-select>

    <app-player-to-sport-details-common-cud *ngIf="model.sport" [sport]="filterTeamSportBySportName(model.sport)[0]" [(model)]="model" (form)="emitForm($event)"></app-player-to-sport-details-common-cud>

    <div *ngIf="isShowSportField()">
        <h1>Position:</h1>
        <div [ngSwitch]="model.sport">
            <player-football-position *ngSwitchCase="'Football'" [players]="[player]"
                                      [playersDetails]="[model]">Loading football position...</player-football-position>
            <player-futsal-position *ngSwitchCase="'Futsal'" [players]="[player]"
                                    [playersDetails]="[model]">Loading futsal position...</player-futsal-position>
        </div>
    </div>

</div>


<div *ngIf="isErrorLoadingSports()">
    Error loading the sports, try again.
</div>
