<ng-container *ngIf="teamsRepresentation.length === 2">
    {{schema.description?schema.description:'Team'}}:
    <mat-select [placeholder]="schema.title" [formControl]="control" name="name" [(ngModel)]="value" [disabled]="schema.readOnly">
        <mat-option value="Select a Team" disabled>Select a Team</mat-option>
        <mat-option *ngFor="let teamRepresentation of teamsRepresentation" [value]="teamRepresentation.id">
            <img class="entry-img" [src]="teamRepresentation.teamEmblem">
            {{ teamRepresentation.name }}
        </mat-option>
    </mat-select>
</ng-container>
