<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <img class="left-image" src="../../images/home/how-to/goal-team-together.jpg">
    </div>

    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">

        <p>In TeamBuilting you can: </p>
        <ul class="list">
            <li><span>Add your team(s)</span></li>
            <li><span>Add the time period you have been playing for those teams</span></li>
            <li><span>Keep in touch with your friends</span></li>
            <li><span>See your friends' histories</span></li>
            <li><span>Enjoy!</span></li>
        </ul>

        <div *ngIf="authenticated()">
            <h3>Go to my Profile to start adding your career:</h3>
            <button type="submit" class="btn btn-primary" (click)="routerUtils.gotoMyProfile()">My Profile</button>
        </div>

    </div>

</div>
