<ng-container *ngIf="!loadingSchemaAndUiMatchEvents">
    <md-input-container floatPlaceholder="never">
        <input mdInput #filter placeholder="Filter event">
    </md-input-container>

    <md-table #table [dataSource]="dataSource">

        <ng-container cdkColumnDef="type">
            <md-header-cell *cdkHeaderCellDef> Type </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{getEventType(row)}} </md-cell>
        </ng-container>

        <ng-container cdkColumnDef="when">
            <md-header-cell *cdkHeaderCellDef> When </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row[getEventType(row)].when | date}} minutes </md-cell>
        </ng-container>

        <ng-container cdkColumnDef="info">
            <md-header-cell *cdkHeaderCellDef> Info </md-header-cell>
            <md-cell *cdkCellDef="let row">

                <ng-container *ngFor="let property of getTableProperties(row)">
                    <ng-container *ngIf="row[getEventType(row)][property]">
                        <b>{{property}}</b>: {{row[getEventType(row)][property]}} <br/>
                    </ng-container>
                </ng-container>

            </md-cell>
        </ng-container>

        <ng-container cdkColumnDef="actions">
            <md-header-cell *cdkHeaderCellDef> Action </md-header-cell>
            <md-cell *cdkCellDef="let row">
                <button md-button [disabled]="!isEditable()"><md-icon>mode_edit</md-icon></button>
                <button md-button [disabled]="row.type === 'goal' || !isEditable()"><md-icon>delete</md-icon></button>
            </md-cell>
        </ng-container>

        <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
    </md-table>
</ng-container>
