<ng-container *ngIf="!loadingSchemaAndUiMatchEvents && !isBusy()">
    <mat-form-field floatPlaceholder="never">
        <input matInput #filter placeholder="Filter event">
    </mat-form-field>

    <mat-table #table [dataSource]="dataSource">

        <ng-container cdkColumnDef="type">
            <mat-header-cell *cdkHeaderCellDef> Type </mat-header-cell>
            <mat-cell *cdkCellDef="let row">
                <mat-icon [svgIcon]="getEventType(row)" matTooltip="{{getEventType(row)}}"></mat-icon>
            </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="team">
            <mat-header-cell *cdkHeaderCellDef> Team </mat-header-cell>
            <mat-cell *cdkCellDef="let row">
                <ng-container *ngIf="isATeamEvent(row); else noTeamEventDom">
                    {{getTeam(row)?.name}}
                </ng-container>
                <ng-template #noTeamEventDom>
                    N/A
                </ng-template>
            </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="when">
            <mat-header-cell *cdkHeaderCellDef> When </mat-header-cell>
            <mat-cell *cdkCellDef="let row">
                {{getWhenOrStartingTime(row) | date:"hh:mm"}}
            </mat-cell>
        </ng-container>

        <!--
        <ng-container cdkColumnDef="info">
            <mat-header-cell *cdkHeaderCellDef> Info </mat-header-cell>
            <mat-cell *cdkCellDef="let row">

                <ng-container *ngFor="let property of getTableProperties(row)">
                    <ng-container *ngIf="row[getEventType(row)][property]">
                        <app-my-team-in-match-widget [schema]="getSchemaAndWidget(row, property)" [value]="row[getEventType(row)][property]"></app-my-team-in-match-widget>
                        <b>{{property}}</b>: {{row[getEventType(row)][property]}} <br/>
                    </ng-container>
                </ng-container>

            </mat-cell>
        </ng-container>
        -->

        <ng-container cdkColumnDef="actions">
            <mat-header-cell *cdkHeaderCellDef> Action </mat-header-cell>
            <mat-cell *cdkCellDef="let row">
                <button mat-button [disabled]="!isEditable()"><mat-icon>mode_edit</mat-icon></button>
                <button mat-button [disabled]="row.type === 'goal' || !isEditable()"><mat-icon>delete</mat-icon></button>
            </mat-cell>
        </ng-container>

        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</ng-container>
