#profileHeader {
    position:relative;
    height: 30%;
}

.profile-background {
    width: 100%;
    max-height: 200px;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.user-image {
    position: absolute;
    border-radius: 50%;
    height: 50%;
    bottom: 20%;
    transform: translate(50%, 0%);
}
