<div *ngIf="isAuthenticated() && getUserProfile(); else notAuthenticated">

    <div *ngIf="!userDataLoadingFlag && userData; else userDataNotLoaded">
        <div #profileHeader id="profileHeader">
            <img class="profile-background" src="./images/sidenav-background.png" alt="..."/>
            <img class="user-image" [src]="getUserProfile().picture" alt="{{getUserProfile().name}}">
        </div>
        <p>
            {{getUserProfile().given_name}} {{getUserProfile().family_name}}
        </p>

        <mat-nav-list>
            <mat-list-item>
                <mat-icon mat-list-icon>home</mat-icon>
                <a matLine href="/home">Home</a>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>accessibility</mat-icon>
                <a matLine [href]="'/player/' + getPlayerId()">My Profile</a>
            </mat-list-item>
            <mat-list-item (click)="logout()">
                <mat-icon mat-list-icon>share</mat-icon>
                Log out
            </mat-list-item>
        </mat-nav-list>

        <hr class="line">

        <mat-nav-list>
            <mat-list-item>
                <mat-icon mat-list-icon>settings</mat-icon>
                <a matLine href="/home">Settings</a>
            </mat-list-item>
        </mat-nav-list>
    </div>

</div>
<ng-template #notAuthenticated>
    <mat-progress-spinner *ngIf="isBusyLoadingSports" mode="indeterminate">
    </mat-progress-spinner>
    You are not authenticated!
</ng-template>

<ng-template #userDataNotLoaded>
    <mat-progress-spinner *ngIf="userDataLoadingFlag" mode="indeterminate">
    </mat-progress-spinner>
    <div *ngIf="!userDataLoadingFlag">
        Error loading User Data...
    </div>
</ng-template>
