<div *ngIf="auth && auth.authenticated(); else notAuthenticated">
    <div #profileHeader id="profileHeader">
        <img class="profile-background" src="./images/sidenav-background.png" alt="..."/>
        <img class="user-image" [src]="getUserProfile().picture" alt="{{getUserProfile().name}}">
    </div>
    <p>
        {{getUserProfile().given_name}} {{getUserProfile().family_name}}
    </p>

    <md-nav-list>
        <md-list-item>
            <md-icon md-list-icon>accessibility</md-icon>
            <h3 md-line (click)="routerUtilsService.gotoMyProfile()">My Profile</h3>
        </md-list-item>
    </md-nav-list>

</div>
<ng-template #notAuthenticated>
    You are not authenticated!
</ng-template>
