<md-card class="example-card">
    <md-card-header>
        <md-card-title>Player Position:</md-card-title>
        <md-select placeholder="Select the Sport" [(ngModel)]="sportSelected" name="sportSelected">
            <md-option *ngFor="let sport of getSportsPlayed()" [value]="sport">
                {{sport}}
            </md-option>
        </md-select>
    </md-card-header>
    <md-card-content>

        <app-player-to-sport-details-common-cud *ngIf="sportSelected && !loadingSportsFlag && sports[sportSelected]" [(model)]="playerToTeamSport[sportSelected]" [sport]="sports[sportSelected]" (form)="form = $event"></app-player-to-sport-details-common-cud>
        <div [ngSwitch]="sportSelected">
            <player-football-position *ngSwitchCase="'Football'" [players]="[player]"
                                      [playersDetails]="[playerToTeamSport['Football']]">Loading football position...</player-football-position>
            <player-futsal-position *ngSwitchCase="'Futsal'" [players]="[player]"
                                    [playersDetails]="[playerToTeamSport['Futsal']]">Loading futsal position...</player-futsal-position>
        </div>

    </md-card-content>
    <md-card-footer *ngIf="sportSelected && userData && userCanEdit()">
        <button md-button *ngIf="editing == false" [disabled]="submittingFlag" (click)="editing = true"><md-icon>mode_edit</md-icon></button>
        <button md-button *ngIf="editing == true" [disabled]="submittingFlag || !form || !form.valid" (click)="editEntry()">
            <md-icon>save</md-icon>
        </button>
        <button md-button [disabled]="submittingFlag" (click)="deleteEntry()"><md-icon>delete</md-icon></button>
    </md-card-footer>
</md-card>
