<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Player Position:</mat-card-title>
        <mat-select placeholder="Select the Sport" [(ngModel)]="sportSelected" name="sportSelected">
            <mat-option *ngFor="let sport of getSportsPlayed()" [value]="sport">
                {{sport}}
            </mat-option>
        </mat-select>
    </mat-card-header>
    <mat-card-content>
        <br/>
        <app-player-to-sport-details-common-cud *ngIf="sportSelected && !loadingSportsFlag && sports[sportSelected]" [(model)]="playerToTeamSport[sportSelected]" [sport]="sports[sportSelected]" (form)="form = $event"></app-player-to-sport-details-common-cud>
        <div [ngSwitch]="sportSelected">
            <player-football-position *ngSwitchCase="'Football'" [players]="[player]"
                                      [playersDetails]="[playerToTeamSport['Football']]">Loading football position...</player-football-position>
            <player-futsal-position *ngSwitchCase="'Futsal'" [players]="[player]"
                                    [playersDetails]="[playerToTeamSport['Futsal']]">Loading futsal position...</player-futsal-position>
        </div>

    </mat-card-content>
    <mat-card-footer *ngIf="sportSelected && userData && userCanEdit()">
        <button mat-button *ngIf="editing == false" [disabled]="submittingFlag" (click)="editing = true"><mat-icon>mode_edit</mat-icon></button>
        <button mat-button *ngIf="editing == true" [disabled]="submittingFlag || !form || !form.valid" (click)="editEntry(sportSelected)">
            <mat-icon>save</mat-icon>
        </button>
        <button mat-button [disabled]="submittingFlag" (click)="deleteEntry(sportSelected)"><mat-icon>delete</mat-icon></button>
    </mat-card-footer>
</mat-card>
