<md-card class="example-card">
    <md-card-header>
        <md-card-title>Player Position:</md-card-title>
        <md-select placeholder="Select the Sport" [(ngModel)]="sportSelected" name="sportSelected">
            <md-option *ngFor="let sport of getSportsPlayed()" [value]="sport">
                {{sport}}
            </md-option>
        </md-select>
    </md-card-header>
    <md-card-content>
        <div [ngSwitch]="sportSelected">
            <player-football-position *ngSwitchCase="'Football'" [players]="[player]"
                                      [playersDetails]="[playerToTeamSport['Football']]">Loading football position...</player-football-position>
            <player-futsal-position *ngSwitchCase="'Futsal'" [players]="[player]"
                                    [playersDetails]="[playerToTeamSport['Futsal']]">Loading futsal position...</player-futsal-position>
        </div>

        <div *ngIf="sportSelected">
            <p>Main Position: {{playerToTeamSport[sportSelected]?.mainPosition}}</p>
            <p>Bio: {{playerToTeamSport[sportSelected]?.bio}}</p>
        </div>
    </md-card-content>
</md-card>
