<div class="icon-wrap">
    <div class="apps">
        <div class="app yellow">
            <div class="top">
                <div class="fa fa-heart"></div>
            </div>
        </div>
        <div class="app red">
            <div class="top">
                <div class="fa fa-headphones"></div>
            </div>
        </div>
        <div class="app blue">
            <div class="top">
                <div class="fa fa-cutlery"></div>
            </div>
        </div>
    </div>
</div>
