<md-sidenav-container class="example-sidenav-fab-container">
    <md-sidenav #sidenav mode="side" class="app-sidenav" opened="false">
        <app-profile-sidenav></app-profile-sidenav>
    </md-sidenav>

    <md-toolbar #header id="header" class="header" color="primary">
        <i (click)="sidenav.toggle()" class="material-icons app-toolbar-menu clickable">menu</i>
        <span>TeamBuilting App</span>
        <span class="example-fill-remaining-space"></span>
        <app-toolbar-menu></app-toolbar-menu>
    </md-toolbar>


    <div class="app-content">
      <router-outlet (activate)="sidenav.opened = false"></router-outlet>
    </div>
    <md-toolbar #footer class="footer" color="primary">
        <span><donate></donate></span>
    </md-toolbar>
</md-sidenav-container>
