<md-sidenav-container class="example-sidenav-fab-container">
    <md-sidenav #sidenav mode="over" class="app-sidenav" opened="false">
        <app-profile-sidenav></app-profile-sidenav>
    </md-sidenav>

    <md-toolbar #header id="header" class="header" color="primary">
        <i (click)="sidenav.toggle()" class="material-icons app-toolbar-menu clickable">menu</i>
        <span>TeamBuilting App</span>
        <span class="example-fill-remaining-space"></span>
        <!--
        <button md-icon-button [mdMenuTriggerFor]="menu">
            <md-icon>more_vert</md-icon>
        </button>
        <md-menu #menu="mdMenu">
            <app-toolbar-menu></app-toolbar-menu>
        </md-menu>
        -->
    </md-toolbar>

    <div class="app-content">
      <router-outlet (activate)="sidenav.opened = false"></router-outlet>
    </div>

    <md-toolbar #footer class="footer" color="primary">
        <span><donate></donate></span>
        <span class="btn-space"></span>
    </md-toolbar>

    <md-menu #actionButtonMenu="mdMenu">
        <app-toolbar-menu></app-toolbar-menu>
    </md-menu>

</md-sidenav-container>

<ng-container *ngIf="isAuthenticated()">
    <button *ngIf="!sidenav.opened" md-fab class="action-button" [mdMenuTriggerFor]="actionButtonMenu"><md-icon>add</md-icon></button>
</ng-container>

<ng-container *ngIf="!isAuthenticated()" mdTooltip="Click to log in">
    <button md-fab class="action-button" (click)="login()"><md-icon>person</md-icon></button>
</ng-container>
