<clr-main-container>
    <clr-alert [hidden]="!auth.authenticated()">
        <div class="alert-item">
              <span class="alert-text">
                   Welcome back!
              </span>
        </div>
    </clr-alert>

    <clr-header>
      <div class="branding">
        <a href="#" class="nav-link">
          <span class="clr-icon clr-clarity-logo"></span>
          <span class="title">{{title}}</span>
        </a>
      </div>
      <div class="header-nav">
            <a href="/home" class="active nav-link"><span class="nav-text">Home</span></a>
      </div>
<!--        <div class="settings">
            <clr-dropdown class="dropdown bottom-right">
                <button class="nav-icon" clrDropdownToggle>
                    Language
                    <clr-icon shape="caret down"></clr-icon>
                </button>
                <div class="dropdown-menu">
                    <div *ngFor="let language of languagesAvailable" clrDropdownItem (click)="setLanguage(language)">{{language.toUpperCase()}}<img [ngStyle]="{'width': '50px'}" src="{{getFlag(language)}}"></div>
                </div>
            </clr-dropdown>
        </div>-->
      <div class="header-actions">
          <clr-dropdown class="dropdown bottom-right">
              <button class="nav-icon" clrDropdownToggle>
                  <clr-icon shape="user"></clr-icon>
                  <clr-icon shape="caret down"></clr-icon>
              </button>

              <div class="dropdown-menu">
                  <div *ngIf="!auth.authenticated() && (router.url==='/home' || router.url==='/')">
                      <div (click)="auth.login()" clrDropdownItem>Log in</div>
                  </div>
                  <div *ngIf="!auth.authenticated() && !(router.url==='/home' || router.url==='/')">
                      <a href="home" clrDropdownItem>Go to home to Log in</a>
                  </div>
                  <div *ngIf="auth.authenticated()">
                      <a href="myProfile" clrDropdownItem>My Profile</a>
                      <div (click)="auth.logout()" clrDropdownItem>Log out</div>
                  </div>
              </div>
          </clr-dropdown>
      </div>
    </clr-header>

    <div class="content-container">
      <div class="content-area">

          <app-google-chart-component></app-google-chart-component>

        <router-outlet></router-outlet>
      </div>
    </div>

</clr-main-container>

<div class="footer">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
            Help the application to be up and running
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
            <donate></donate>
        </div>
    </div>
</div>
