<ng-container *ngIf="!loadingPlayerRepresentation && getPlayersRepresentation() != null">
    <mat-select [placeholder]="placeholder" [(ngModel)]="value" (change)="change.emit($event.value)">
        <mat-option value="Select a Player" [value]="null">Not give</mat-option>
        <mat-option *ngFor="let playerRepresentation of getPlayersRepresentation()" [value]="playerRepresentation.id">
            <img class="entry-img" [src]="playerRepresentation.teamEmblem">
            <img class="entry-img" [src]="playerRepresentation.playerImage">
            {{ playerRepresentation.name }}
        </mat-option>
    </mat-select>
</ng-container>
