<form [formGroup]="playerToTeamForm" (change)="emitForm()">

    <section class="date-section">
        <mat-form-field>
            <input #fromDate matInput placeholder="From date" type="date" [(ngModel)]="model.fromDate" [value]="getFromDate()"
                   formControlName="fromDate" required [readOnly]="!isEditing()">
            <mat-error *ngIf="playerToTeamForm.get('fromDate').invalid">Not valid</mat-error>
        </mat-form-field>
    </section>

    <section class="date-section">
        <mat-form-field *ngIf="!isStillActive()">
            <input #toDate matInput placeholder="To date" type="date" [(ngModel)]="model.toDate" [value]="getToDate()"
                   formControlName="toDate" [required]="!isStillActive()" [readOnly]="!isEditing()">
            <mat-error *ngIf="playerToTeamForm.get('toDate').invalid">Not valid</mat-error>
            <mat-error *ngIf="!isStillActive() && toDate.value == null">Required</mat-error>
            <mat-error *ngIf="!toDateIsAfterFromDate()">To Date is before From Date</mat-error>
        </mat-form-field>

        <mat-checkbox *ngIf="isEditing() || (!isEditing() && !model.toDate)" [disabled]="!isEditing()" [checked]="isStillActive()" (change)="changeStillActive()">Still Playing</mat-checkbox>
    </section>
</form>

