<mat-card class="example-card">
    <mat-card-header *ngIf="team && player">
        <mat-card-title >{{player.name}} at</mat-card-title>
        <mat-card-subtitle>{{team.name}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image *ngIf="!loadingTeamFlag" class="playerToTeam-background" [src]="getPictureBasedOnSport()">

    <img *ngIf="!loadingTeamFlag" class="playerToTeam-team-img clickable" (click)="routerUtilsService.gotoTeamDetails(team)" [src]="team.emblemLink">
    <img *ngIf="!loadingPlayerFlag" class="playerToTeam-player-img" [src]="player.imageLink">

    <mat-card-content class="card-content">

        <app-player-to-team-cud *ngIf="!submittingFlag" [(model)]="playerToTeam" [(editing)]="editing" (form)="playerToTeamForm = $event"></app-player-to-team-cud>
        <mat-progress-spinner *ngIf="submittingFlag" mode="indeterminate">
        </mat-progress-spinner>

    </mat-card-content>
    <!--
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
    -->
    <mat-card-footer *ngIf="userData && userCanEdit()">
        <button mat-button *ngIf="editing == false" [disabled]="submittingFlag" (click)="editing = true"><mat-icon>mode_edit</mat-icon></button>
        <button mat-button *ngIf="editing == true" [disabled]="submittingFlag || !playerToTeamForm || !playerToTeamForm.valid" (click)="editEntry()">
            <mat-icon>save</mat-icon>
        </button>
        <button mat-button [disabled]="submittingFlag" (click)="deleteEntry()"><mat-icon>delete</mat-icon></button>
    </mat-card-footer>
</mat-card>
