<md-card class="example-card">
    <md-card-header *ngIf="team && player">
        <md-card-title >{{player.name}} at</md-card-title>
        <md-card-subtitle>{{team.name}}</md-card-subtitle>
    </md-card-header>
    <img md-card-image *ngIf="!loadingTeamFlag" class="playerToTeam-background" [src]="getPictureBasedOnSport()">

    <img *ngIf="!loadingTeamFlag" class="playerToTeam-team-img clickable" (click)="routerUtilsService.gotoTeamDetails(team)" [src]="team.emblemLink">
    <img *ngIf="!loadingPlayerFlag" class="playerToTeam-player-img" [src]="player.imageLink">

    <md-card-content class="card-content">

        <app-player-to-team-cud *ngIf="!submittingFlag" [(model)]="playerToTeam" [(editing)]="editing" (form)="playerToTeamForm = $event"></app-player-to-team-cud>
        <md-progress-spinner *ngIf="submittingFlag" mode="indeterminate">
        </md-progress-spinner>

    </md-card-content>
    <!--
    <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
    </md-card-actions>
    -->
    <md-card-footer *ngIf="userData && userCanEdit()">
        <button md-button *ngIf="editing == false" [disabled]="submittingFlag" (click)="editing = true"><md-icon>mode_edit</md-icon></button>
        <button md-button *ngIf="editing == true" [disabled]="submittingFlag || !playerToTeamForm || !playerToTeamForm.valid" (click)="editEntry()">
            <md-icon>save</md-icon>
        </button>
        <button md-button [disabled]="submittingFlag" (click)="deleteEntry()"><md-icon>delete</md-icon></button>
    </md-card-footer>
</md-card>
