<div class="card clickable">
    <div class="card-header">
        Reward received in {{team.name}} {{getSeason(playerReward.fromDate)}}
    </div>
    <div class="card-block">
        <div class="card-media-block">
            <img [src]="user.picture" class="card-media-image">
            <div class="card-media-description">
                        <span class="card-media-title">
                            Reward received from {{user.nickname}}
                        </span>
                <span class="card-media-text">
                            {{playerReward.reward}}
                        </span>
            </div>
        </div>
        <div class="card-text">
            {{playerReward.comment}}
        </div>
    </div>
</div>
