<mat-card class="example-card">
    <mat-card-content>
        <app-player-cud [(model)]="player" [(editing)]="editing" (form)="playerForm = $event"></app-player-cud>
    </mat-card-content>
    <mat-card-actions *ngIf="userData && userCanEdit()">
        <button mat-button *ngIf="editing == false" [disabled]="submittingFlag" (click)="editing = true"><mat-icon>mode_edit</mat-icon></button>
        <button mat-button *ngIf="editing == true" [disabled]="submittingFlag || !playerForm || !playerForm.valid" (click)="editEntry()">
            <mat-icon>save</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
