<div [formGroup]="teamForm">
    <section class="form-block">
        <label>Team information</label>
        <div class="form-group">
            <label for="name">Team name</label>
            <label for="name" aria-haspopup="true" role="tooltip"
                   class="tooltip tooltip-validation tooltip-sm"
                   [class.invalid]="teamForm.get('name').invalid">
                <input id="name" type="text" formControlName="name" [(ngModel)]="model.name" required>
                <span class="tooltip-content">Name is required.</span>
            </label>

            <label for="sport">Select sport:</label>
            <label for="sport" aria-haspopup="true" role="tooltip"
                   class="tooltip tooltip-validation tooltip-sm"
                   [class.invalid]="teamForm.get('sport').invalid && teamForm.get('sport').dirty">
                <div class="select">
                    <select id="selects_1" [(ngModel)]="model.sport" id="sport" name="sport"
                            formControlName="sport" required>
                        <option value="" [selected]="!model.sport" [disabled]="true">Select a sport...</option>
                        <option *ngFor="let sport of sports" [selected]="model.sport == sport.name">{{sport.name}}</option>
                    </select>
                </div>
            </label>
        </div>

        <div class="form-group">
            <label for="bio">Description:</label>
            <label for="bio" aria-haspopup="true" role="tooltip"
                   class="tooltip tooltip-validation tooltip-sm"
                   [class.invalid]="teamForm.get('bio').invalid">
        <textarea rows="3" placeholder="(Optional) Insert here the bio of your team"
                  [(ngModel)]="model.bio" id="bio" name="bio" formControlName="bio"></textarea>
            </label>
        </div>

    </section>

    <section class="form-block">
        <label>Team Dates</label>
        <div class="form-group">
            <label for="fromDate">From Date</label>
            <label for="fromDate" aria-haspopup="true" role="tooltip"
                   class="tooltip tooltip-validation tooltip-sm"
                   [class.invalid]="teamForm.get('fromDate').invalid">
                <input id="fromDate" type="date" formControlName="fromDate" [(ngModel)]="model.fromDate" [value]="getFromDate()" required>
                <span class="tooltip-content">From Date is not valid.</span>
            </label>

            <label for="toDate">To Date</label>
            <label for="toDate" aria-haspopup="true" role="tooltip"
                   class="tooltip tooltip-validation tooltip-sm"
                   [class.invalid]="teamForm.get('toDate').invalid">
                <input id="toDate" type="date" formControlName="toDate" [(ngModel)]="model.toDate" [value]="getToDate()"
                      [required]="!stillActive">
                <span class="tooltip-content">To Date is not valid.</span>
            </label>

            <input name="stillActive" type="checkbox" id="checkrads_1" [(ngModel)]="stillActive" [ngModelOptions]="{standalone: true}">
            <label for="checkrads_1">Still active</label>

        </div>
    </section>

    <section class="form-block">
        <label>More Team Details</label>
        <div class="form-group row">
            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                <label for="emblemLink" class="required">Enter team logo link:</label>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <label for="emblemLink" aria-haspopup="true" role="tooltip"
                       class="tooltip tooltip-validation tooltip-sm"
                       [class.invalid]="teamForm.get('emblemLink').invalid">
                 <input #emblemLink type="url" placeholder="Enter link here" size="20"
                        formControlName="emblemLink" [(ngModel)]="model.emblemLink" id="emblemLink" name="emblemLink">
                </label>
            </div>


            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                <label for="emblemLink">Enter team location:</label>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <label for="location" aria-haspopup="true" role="tooltip"
                       class="tooltip tooltip-validation tooltip-sm"
                       [class.invalid]="teamForm.get('location').invalid">
                <input #theLocation type="text" placeholder="Enter location here" size="20"
                       [(ngModel)]="model.location" id="location" name="location" formControlName="location">
                </label>
                <clr-icon shape="search" [class.clickable]="theLocation.value" (click)="searchLocation(theLocation.value)"></clr-icon>
            </div>

        </div>

        <div class="form-group row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <img [src]="model.emblemLink" class="emblemImage">
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <sebm-google-map [streetViewControl]="false" [zoom]="4" [latitude]="getCenter().lat" [longitude]="getCenter().lng"
                                 disableDoubleClickZoom="true" scrollwheel="false">
                    <sebm-google-map-marker *ngIf="isValidLocation()" [latitude]="location.lat"
                                            [longitude]="location.lng">
                    </sebm-google-map-marker>
                </sebm-google-map>
            </div>
        </div>

    </section>

</div>
