<mat-card>
    <mat-card-header>
        <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + displayableItemInfo?.picture + ')'}" class="item-picture-avatar"></div>
        <mat-card-title>{{displayableItemInfo?.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="ui-g">
            <div *ngIf="isValueDefined()" class="ui-g-10 ui-md-8 ui-lg-8">
                <p-rating [(ngModel)]="value" (onCancel)="value = 0" [stars]="5"></p-rating>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <div class="ui-g">
            <div class="ui-g-2 ui-md-4 ui-lg-4">
                <ng-container *ngIf="isValueDefined()">
                    <button mat-icon-button matTooltip="Click to not rate this player" (click)="value = null"><mat-icon>delete</mat-icon></button>
                </ng-container>
                <ng-container *ngIf="!isValueDefined()">
                    <button mat-icon-button matTooltip="Click to rate this player" (click)="value = 2.5"><mat-icon>add</mat-icon></button>
                </ng-container>
            </div>
        </div>
    </mat-card-actions>
</mat-card>
