<ng-container *ngIf="isBusy">
    <mat-progress-spinner mode="indeterminate">
    </mat-progress-spinner>
</ng-container>
<mat-card *ngIf="player" class="player-card">
    <mat-card-header>
        <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + player.picture + ')'}" class="player-card-avatar"></div>
        <mat-card-title>{{player.name}}</mat-card-title>
        <mat-card-subtitle>{{player?.nickname}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <app-match-show-player-rating [playerInfo]="playerInfo" [allUsersMatchFeedback]="allUsersMatchFeedback"></app-match-show-player-rating>
    </mat-card-content>
    <mat-card-actions>
        <button *ngIf="isEditable()" mat-button (click)="removePlayerFromMatch()"><mat-icon>delete</mat-icon></button>
    </mat-card-actions>
</mat-card>
