{{schema.description?schema.description:'Player'}}:
<mat-select [placeholder]="schema.title" [formControl]="control" name="name">
    <mat-option value="Select a Player" disabled>Select a player</mat-option>
    <mat-option *ngFor="let playerRepresentation of playersRepresentation" [value]="playerRepresentation.id">
        <img class="entry-img" [src]="playerRepresentation.teamEmblem">
        <img class="entry-img" [src]="playerRepresentation.playerImage">
        {{ playerRepresentation.name }}
    </mat-option>
</mat-select>
