<div id="search-component">
  <h4>Team Search</h4>


<label for="search_input">
    <input #searchInput id="search_input" type="text" placeholder="Search for a Team..." (keyup)="search(searchInput.value)"/>
    <div *ngIf="searchInput.value && (teamsPage | async)?.content == null">
        <span class="spinner spinner-sm">Loading...</span>
    </div>

    <ul *ngIf = "searchInput.value.length > 0" class="list" [ngStyle]="{'clickable': true, 'cursor': 'pointer'}">
       <li class="not-found" *ngIf="(teamsPage | async)?.content?.length == 0" disabled>Teams not found</li>
       <li class="team-entry" *ngFor="let team of (teamsPage | async)?.content" (click)="searchInput.value = ''; onTeamClicked(team)">{{team.name}}</li>
   </ul>
</label>

</div>
