<div id="search-component">
  <h4>Team Search</h4>

    <!--  <input #searchBox id="search-box" placeholder="Introduce team name..." (keyup)="search(searchBox.value)" />
  <div>
    <div *ngIf="searchBox.value && !(teams | async)" class="search-result">...</div>
    <div *ngFor="let team of teams | async"
         (click)="gotoDetail(team)" class="search-result" >
      {{team.name}}
    </div>
  </div>
</div>
-->


<label for="search_input">
    <input #searchInput id="search_input" type="text" placeholder="Search for a Team..." (keyup)="search(searchInput.value)"/>
    <div *ngIf="searchInput.value && (teamsPage | async)?.content == null">
        <span class="spinner spinner-sm">Loading...</span>
    </div>

    <ul class="list" [ngStyle]="{'clickable': true, 'cursor': 'pointer'}">
       <li class="not-found" *ngIf="(teamsPage | async)?.content?.length == 0" disabled>Teams not found</li>
       <li class="team-entry" *ngFor="let team of (teamsPage | async)?.content" (click)="onTeamClicked(team)">{{team.name}}</li>
   </ul>
</label>

</div>
