$pitch_long_percentage: 100%;
$pitch_long_min_width: 300px;
$pitch_width-long-ration_percentage: 40%;

$pitch_border_lines: 2px;
$pitch_center_dot: 2px;

$pitch_extra_grass_sides_percentage: 5%; // Extra grass after the throw in lines
$pitch_extra_grass_front_line_percentage: 1%; // Extra grass after the goal lines

$pitch_circle_radius_percentage: 10%;

$penalty_width_percentage: 40%;
$penalty_long_percentage: 15%;

$inner_penalty_long_percentage: 25%; // of the penalty area
$inner_penalty_height_percentage: 30%;
