$black-87-opacity: rgba(black, 0.87);
$white-87-opacity: rgba(white, 0.87);

$mat-primary: ( // Dark Blue
    50: #4ea4ff,
    100: #027dff,
    200: #0061c9,
    300: #003f81,
    400: #003063,
    500: #002144,
    600: #001225,
    700: #000307,
    800: #000000,
    900: #000000,
    A100: #4ea4ff,
    A200: #027dff,
    A400: #003063,
    A700: #000307,
  contrast: (
    0: $black-87-opacity,
    50: $black-87-opacity,
    100: $white-87-opacity,
    200: $white-87-opacity,
    300: $white-87-opacity,
    400: $white-87-opacity,
    500: $white-87-opacity,
    600: $white-87-opacity,
    700: $white-87-opacity,
    800: $white-87-opacity,
    900: $white-87-opacity,
    1000: $white-87-opacity,
    A100: $black-87-opacity,
    A200: $white-87-opacity,
    A400: $white-87-opacity,
    A700: $white-87-opacity,
  )
);

$mat-secondary: ( // Light blue
  50: #e6faff,
  100: #9beafd,
  200: #63defc,
  300: #1dcffb,
  400: #05c5f5,
  500: #04add7,
  600: #0395b9,
  700: #037d9b,
  800: #02647d,
  900: #024c5f,
  A100: #e6faff,
  A200: #9beafd,
  A400: #05c5f5,
  A700: #037d9b,
  contrast: (
    0: $black-87-opacity,
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: $white-87-opacity,
    600: $white-87-opacity,
    700: $white-87-opacity,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: $white-87-opacity,
  )
);

$mat-error: (
  50 : #fae9e7,
  100 : #f4c9c3,
  200 : #eca59c,
  300 : #e48074,
  400 : #df6556,
  500 : #d94a38,
  600 : #d54332,
  700 : #cf3a2b,
  800 : #ca3224,
  900 : #c02217,
  A100 : #fff4f3,
  A200 : #ffc3c0,
  A400 : #ff938d,
  A700 : #ff7b74,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);



$mat-warn: (
  50 : #fdf4e6,
  100 : #fae4bf,
  200 : #f7d395,
  300 : #f3c16b,
  400 : #f1b34b,
  500 : #eea62b,
  600 : #ec9e26,
  700 : #e99520,
  800 : #e78b1a,
  900 : #e27b10,
  A100 : #ffffff,
  A200 : #ffeddc,
  A400 : #ffd1a9,
  A700 : #ffc490,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-success: (
  50 : #eaf4e9,
  100 : #cbe3c7,
  200 : #a8d1a2,
  300 : #85be7d,
  400 : #6ab061,
  500 : #50a245,
  600 : #499a3e,
  700 : #409036,
  800 : #37862e,
  900 : #27751f,
  A100 : #b9ffb3,
  A200 : #8aff80,
  A400 : #5bff4d,
  A700 : #44ff33,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);


