.mat-toolbar.top-bar {
  min-height: $hdr-toolbar-height;

  md-toolbar-row {
    height: $hdr-toolbar-height;
  }
}

.mat-toolbar.global-toolbar {
  min-height: $hdr-toolbar-height;
  background-color: $bg-global-toolbar;
  margin-bottom: 1px;

  md-toolbar-row {
    height: $hdr-toolbar-height;
  }
}

.mat-toolbar.breadcrumb-toolbar {
  min-height: $hdr-toolbar-height;
  background-color: $bg-breadcrumb-toolbar;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.23);

  md-toolbar-row {
    height: $hdr-toolbar-height;
  }
}
