.team-sport-header {
    position: relative;
    width: 100%; /* for IE 6 */
}

.team-sport-sport-image {
    position: relative;
    width: 100%;
    max-height: 300px;
    min-height: 100px;
    top: 0;
    left: 0;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.team_emblem {
    position: absolute;
    left: 50%;
    width: 25%;
    height: auto;
    max-height: 300px;
    transform: translate(-50%, -50%)
}

.text-inside {
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
}

h2 span {
    color: white;
    font: bold 16px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 5%;
}

h2 span.spacer {
    padding:0 5px;
}
