<h1>Match Parts</h1>

<!-- Table to represent the match parts and being able to edit and remove -->
<ng-container *ngIf="matchParts">
    <p-dataTable [value]="matchParts" [editable]="isEditable()" [responsive]="true" immutable="false">
        <ng-container *ngIf="isEditable()">
            <p-footer>Match Parts. Click on the rows to edit them.
                <button mat-icon-button (click)="addMatchPart()"
                        matTooltip="Click to add a new part" matTooltipPosition="above"><mat-icon>add</mat-icon></button>
            </p-footer>
        </ng-container>

        <p-column header="Part">
            <ng-template let-col let-matchPart="rowData" let-ri="rowIndex" pTemplate="body">
                {{ri+1}} Part
            </ng-template>
        </p-column>

        <p-column field="startingTime" header="Starting Time" [editable]="true">
            <ng-template let-col let-matchPart="rowData" let-ri="rowIndex" pTemplate="body">
                {{matchPart[col.field]|date:'hh:mma'}}
            </ng-template>

            <ng-template let-col let-matchPart="rowData" let-ri="rowIndex" pTemplate="editor">
                <p-calendar required="true" [(ngModel)]="matchPart.startingTime" [timeOnly]="true" hourFormat="12" [showIcon]="true"
                            [minDate]="getMinDateForStartingDate(ri)" (onClose)="updateMatchParts()" appendTo="body">
                </p-calendar>
            </ng-template>

        </p-column>
        <p-column field="endingTime" header="Ending Time" [editable]="true">
            <ng-template let-col let-matchPart="rowData" let-ri="rowIndex" pTemplate="body">
                {{matchPart[col.field]|date:'hh:mma'}}
            </ng-template>
            <ng-template let-col let-matchPart="rowData" let-ri="rowIndex" pTemplate="editor">
                <p-calendar required="true" [(ngModel)]="matchPart.endingTime" [timeOnly]="true" hourFormat="12" [showIcon]="true"
                            [minDate]="getMinDateForEndingDate(ri)" (onChange)="updateMatchParts()" appendTo="body">
                </p-calendar>
            </ng-template>
        </p-column>
        <p-column field="duration" header="Duration">
            <ng-template let-col let-matchPart="rowData" let-ri="rowIndex" pTemplate="body">
                {{ getDuration(matchPart, 'minutes')}} minutes
            </ng-template>
        </p-column>
        <p-column *ngIf="isEditable()" header="Actions">
            <ng-template let-col let-matchPart="rowData" let-ri="rowIndex" pTemplate="body">
                <button mat-icon-button *ngIf="ri !== 0" (click)="deleteMatchPartInIndex(ri)" matTooltip="Click to add a new part" matTooltipPosition="above"><mat-icon>delete</mat-icon></button>
            </ng-template>
        </p-column>
    </p-dataTable>
</ng-container>
