<md-slider
    class="example-margin"
    [disabled]="true"
    [max]="max"
    [min]="min"
    [step]="step"
    [value]="sliderValue">
</md-slider>

<md-input-container>
    <input mdInput [mdDatepicker]="picker" placeholder="Choose a date">
    <button mdSuffix [mdDatepickerToggle]="picker"></button>
</md-input-container>
<md-datepicker #picker></md-datepicker>

<div #teams class="ui-g">
    <div class="team-info ui-g-12 ui-md-4 ui-lg-4">
        <h1>Home Team</h1>
        <app-match-team-info-cud (teamSelected)="homeTeamSelected($event)" (teamRemoved)="homeTeamRemoved()"></app-match-team-info-cud>
    </div>
    <div class="ui-g-12 ui-md-3 ui-lg-3">
    </div>
    <div class="team-info ui-g-12 ui-md-4 ui-lg-4">
        <h1>Away Team</h1>
        <app-match-team-info-cud (teamSelected)="awayTeamSelected($event)" (teamRemoved)="awayTeamRemoved()"></app-match-team-info-cud>
    </div>
</div>

<div #playersSelected class="ui-g">
    <div *ngIf="homeTeamInfo" class="home player-info ui-g-12 ui-md-6 ui-lg-6">
        <h1>Home Players</h1>
        <app-match-players-info [teamInfo]="homeTeamInfo" (playersSelected)="homePlayersAdded($event)"></app-match-players-info>
    </div>

    <div *ngIf="awayTeamInfo" class="away player-info ui-g-12 ui-md-6 ui-lg-6">
        <h1>Away Players</h1>
        <app-match-players-info [teamInfo]="awayTeamInfo" (playersSelected)="awayPlayersAdded($event)"></app-match-players-info>
    </div>
</div>
