<md-slider
    class="example-margin"
    [disabled]="true"
    [max]="sliderMax"
    [min]="sliderMin"
    [step]="sliderStep"
    [value]="sliderValue">
</md-slider>

<div #date>
    <md-input-container>
        <input mdInput [mdDatepicker]="picker" [ngModel]="matchDate" placeholder="Choose a date">
        <button mdSuffix [mdDatepickerToggle]="picker"></button>
    </md-input-container>
    <md-datepicker #picker></md-datepicker>
</div>

<div #matchParts>
    <app-match-parts (matchPartsUpdated)="matchPartsUpdated($event)"></app-match-parts>
</div>

<md-tab-group>
    <md-tab label="Teams of the Game">

        <div #teams class="ui-g">
            <div class="team-info ui-g-12 ui-md-4 ui-lg-4">
                <h1>Home Team</h1>
                <app-match-team-info-cud (teamSelected)="homeTeamSelected($event)" (teamRemoved)="homeTeamRemoved()"></app-match-team-info-cud>
            </div>
            <div class="ui-g-12 ui-md-3 ui-lg-3">
                <form [formGroup]="scoreForm">
                <md-input-container>
                    <input mdInput #homeTeamScoreTemplate name="homeTeamScoreName" type="number" placeholder="Goals of Home Team"
                           formControlName="scoreHomeTeam" required class="score">
                    <md-error>The home team goals has to be filled.</md-error>
                </md-input-container>
                vs:
                <md-input-container>
                    <input mdInput #awayTeamScoreTemplate name="awayTeamScoreName" type="number" placeholder="Goals of Away Team"
                           formControlName="scoreAwayTeam" required class="score">
                    <md-error>The away team goals has to be filled.</md-error>
                </md-input-container>
                </form>
            </div>
            <div class="team-info ui-g-12 ui-md-4 ui-lg-4">
                <h1>Away Team</h1>
                <app-match-team-info-cud (teamSelected)="awayTeamSelected($event)" (teamRemoved)="awayTeamRemoved()"></app-match-team-info-cud>
            </div>
        </div>
    </md-tab>

    <md-tab label="Players of the Match">
        <div #playersSelected class="ui-g">
            <div *ngIf="isHomeTeamSelected()" class="home player-info ui-g-12 ui-md-6 ui-lg-6">
                <h1>Home Players</h1>
                <app-match-players-info [teamInfo]="getHomeTeam()" (playersSelected)="homePlayersAdded($event)"></app-match-players-info>
            </div>

            <div *ngIf="isAwayTeamSelected()" class="away player-info ui-g-12 ui-md-6 ui-lg-6">
                <h1>Away Players</h1>
                <app-match-players-info [teamInfo]="getAwayTeam()" (playersSelected)="awayPlayersAdded($event)"></app-match-players-info>
            </div>
        </div>
    </md-tab>

    <md-tab label="Events">
        <div #match>
            <h1>Match Events</h1>
            <app-match-events *ngIf="shallShowEvent(); else needsTeamAndPlayers"  [scoreFormChanged$]="scoreFormChanged$"
                              [match]="getMatch()" (eventAdded)="eventAdded($event)"></app-match-events>
        </div>
    </md-tab>
</md-tab-group>


<h1>Timeline</h1>
<div *ngIf="shallShowEvent(); else timelineNotReady">
    <app-match-timeline [$eventToDisplay]="eventToDisplay$" [match]="getMatch()"></app-match-timeline>
</div>
<ng-template #timelineNotReady>
    The timeline cannot be shown yet
</ng-template>

<ng-template #needsTeamAndPlayers>
    The teams and players need to be set first.
</ng-template>
