<p-growl [value]="playerCrudMessage" (life)="3000"></p-growl>

<div class="card">
    <div class="card-header">
        My Player Profile
    </div>
    <div class="card-block">
        <div class="card-title">
            Basic information of you
        </div>
        <div *ngIf="editedPlayer != null && !originalAndEditedAreEqual()" class="alert alert-warning alert-sm">
            <div class="alert-item">
                <span class="alert-text">
                    You have changes unsaved.
                </span>
            </div>
        </div>
        <div class="card-text">

            <button [hidden]="editedPlayer" (click)="editedPlayer = createPlayer()" type="submit"
                    class="btn btn-primary">Create new player</button>

            <div *ngIf="editedPlayer">
                <form [formGroup]="playerForm">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <player-cud [(model)]="editedPlayer" (playerForm)="playerForm = $event"></player-cud>
                    </div>

                    <span *ngIf="submitting" class="spinner spinner-inline">
                      Saving...
                    </span>

                    <div *ngIf="!submitting">
                        <button *ngIf="originalPlayerValue" type="button" class="btn btn-warning"
                                (click)="deletePlayerModalOpened = true">Delete Player
                        </button>
                        <button type="button" class="btn btn-primary" [disabled]="originalAndEditedAreEqual()"
                                (click)="returnToPreviousState()">Cancel
                        </button>
                        <button type="button" class="btn btn-primary" (click)="savePlayer()"
                                [disabled]="originalAndEditedAreEqual()">Submit
                        </button>

                        <button md-raised-button color="warn" *ngIf="originalPlayerValue" (click)="deletePlayerModalOpened = true">Delete Player</button>
                        <button md-raised-button [disabled]="originalAndEditedAreEqual()" (click)="returnToPreviousState()">Cancel</button>
                        <button md-raised-button color="accent" [disabled]="originalAndEditedAreEqual()" (click)="savePlayer()">Submit</button>
                    </div>
                </form>
            </div>


        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-info-outline" (click)="teamModalOpened = true">Add a team
            </button>
            <button type="submit" [disabled]="!originalPlayerValue" class="btn btn-sm btn-info-outline"
                    (click)="goToPlayerDetail()">See my profile
            </button>
        </div>
    </div>
</div>

<clr-modal [(clrModalOpen)]="deletePlayerModalOpened">
    <h3 class="modal-title">Are you sure you want to delete your player information?</h3>
    <div class="modal-body">
        <p>All your information will be removed</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="deletePlayerModalOpened = false">Cancel
        </button>
        <button type="button" class="btn btn-primary"
                (click)="deletePlayer(); deletePlayerModalOpened = false">Ok
        </button>
    </div>
</clr-modal>


<team-cud [(teamModalOpened)]="teamModalOpened"></team-cud>
<div *ngIf="teamModalOpened" class="modal-backdrop" aria-hidden="true"></div>
