<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <img class="left-image" src="../../images/home/how-to/goalkeeper.jpg">
    </div>
    <div class="card-right" class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
            <p>Didn't you always want to see all your sport career? Have you played in many teams along all your life and
                want to register it so everyone can see it? Do you want to know with who you have played with, in how many
                teams, and all those kind of things that can make you being able to show off to your friends.</p>
            <p>This is when team builting comes to help you! This application is intended to show in, a way you never saw it
                before, your team(s) and sport career.</p>
    </div>
</div>
