$inni-blue: (
  50:   #0066dc,
  100:  #005ac3,
  200:  #004ea9,
  300:  #004390,
  400:  #003776,
  500:  #002b5d,
  600:  #001f43,
  700:  #00132a,
  800:  #000810,
  900:  #000000,
  A100: #0072f6,
  A200: #107fff,
  A400: #2a8cff,
  A700: #000000,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

$inni-cyan: (
  50:   #013441,
  100:  #02485a,
  200:  #025c73,
  300:  #03718c,
  400:  #0385a5,
  500:  #0499be,
  600:  #04c1f0,
  700:  #13cdfb,
  800:  #2cd2fb,
  900:  #45d7fc,
  A100: #04c1f0,
  A200: #04add7,
  A400: #0499be,
  A700: #5eddfc,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: $black-87-opacity,
  )
);

$essent-red: (
  50:   #ff2a89,
  100:  #ff117b,
  200:  #f6006e,
  300:  #dd0063,
  400:  #c30057,
  500:  #aa004c,
  600:  #900041,
  700:  #770035,
  800:  #5d002a,
  900:  #44001e,
  A100: #ff4498,
  A200: #ff5da6,
  A400: #ff77b4,
  A700: #2a0013,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  )
);

$essent-blue: (
  50:   #1a626d,
  100:  #1e7482,
  200:  #238797,
  300:  #2899ab,
  400:  #2dacc0,
  500:  #36bbd0,
  600:  #60c9da,
  700:  #74d0df,
  800:  #89d7e3,
  900:  #9edee8,
  A100: #60c9da,
  A200: #4bc2d5,
  A400: #36bbd0,
  A700: #b2e5ed,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: $black-87-opacity,
  )
);
