@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

// import our custom theme
@import 'theme.scss';

//.my-theme {
    // use our theme with angular-material-theme mixin
//    @include angular-material-theme($my-theme);
//}

// Theme
@import 'sass/theme/brands/theme-inni';
@import 'sass/theme/colors';
@import 'sass/theme/typography';

/* You can add global styles to this file, and also import other style files */
.clickable {
    cursor: pointer;
}

hr.line {
    display: block;
    position: relative;
    padding: 0;
    margin: 8px auto;
    height: 0;
    width: 100%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
}
