<table *ngIf="sportPositionsLoaded" class="table table-noborder">
    <thead>
    <tr>
        <th class="left">Sport name</th>
        <th>Main Position</th>
        <th>Other positions</th>
        <th>Bio</th>
        <th class="Left">
            <div class="dropdown bottom-left" [class.open]="opened" [ngStyle]="{'opacity': !allSportsAreDetailed() ? 1 : 0.3, 'cursor': 'pointer'}">
                <button class="dropdown-toggle">
                    <clr-icon shape="plus" class="icon-color-info" size="24" (click)="!allSportsAreDetailed() ? opened = !opened : false"
                              role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm">
                        <span *ngIf="!allSportsAreDetailed()" class="tooltip-content">Click to add a new position for a new sport</span>
                    </clr-icon>
                </button>
                <div class="dropdown-menu">
                    <div *ngFor="let sport of sportsNotChecked()" class="dropdown-item" (click)="addNewEntry(sport); opened = false">{{sport}}</div>
                </div>
            </div>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let sport of keys()">
        <td class="left">{{sport}}</td>
        <td>
            <div class="select" [class.disabled]="isEntryChecked(sport)">
                <select id="sportPositions" [value]="dictModel[sport].playerToTeamSportDetail.mainPosition" [(ngModel)]="dictModel[sport].playerToTeamSportDetail.mainPosition" required>
                    <option [selected]="dictModel[sport].playerToTeamSportDetail.mainPosition === sportPosition.abbreviation" *ngFor="let sportPosition of getSportPositions(sport)">{{sportPosition.abbreviation}}</option>
                </select>
            </div>
        </td>
        <td class="left">
            <!--
                        <div *ngFor="let sportPosition of getSportPositions(playerToSportPositon.sport)" class="checkbox"
                             [class.disabled]="!playerToSportPositon.mainPosition || sportPosition.abbreviation === playerToSportPositon.mainPosition"
                             (click)="changePositionChecked(sport, sportPosition.abbreviation)">
                            <input type="checkbox" id="checkrads_1"
                                   [checked]="sportPosition.abbreviation === playerToSportPositon.mainPosition">
                            <label for="checkrads_1">{{sportPosition.fullName}}</label>
                        </div>
            -->
            <p-multiSelect [disabled]="isEntryChecked(sport)" [options]="getSpareSportPositions(sport)" [(ngModel)]="dictModel[sport].playerToTeamSportDetail.otherPositions"></p-multiSelect>
        </td>
        <td class="left">
            <input [disabled]="isEntryChecked(sport)" [(ngModel)]="dictModel[sport].playerToTeamSportDetail.bio" type="text" id="bio" size="100">
        </td>
        <td>
            <clr-icon *ngIf="isEntryChecked(sport)" shape="edit" [ngStyle]="{'cursor': 'pointer'}"
                      (click)="editEntry(sport)" class="icon-color-info"
                      role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm">
                <span *ngIf="isEntryChecked(sport)" class="tooltip-content">Click to edit this entry</span>
            </clr-icon>
            <clr-icon *ngIf="!isEntryChecked(sport)" shape="success"
                      [ngStyle]="{'opacity': isEntryValid(sport) ? 1 : 0.3, 'cursor': isEntryValid(sport) ? 'pointer' : 'default' }"
                      (click)="checkEntry(sport)" class="icon-color-success"
                      role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm">
                <span *ngIf="!isEntryChecked(sport)" class="tooltip-content">Click to submit this entry</span>
            </clr-icon>
            <clr-icon shape="remove" [ngStyle]="{'cursor': 'pointer'}" class="icon-color-danger"
                      (click)="deletePlayerToTeamSportDetailModalOpened = true"
                      role="tooltip" aria-haspopup="true" class="tooltip tooltip-sm">
                <span class="tooltip-content">Click to remove this entry</span>
            </clr-icon>

            <clr-modal [(clrModalOpen)]="deletePlayerToTeamSportDetailModalOpened">
                <h3 class="modal-title">Are you sure you want to delete the entry?</h3>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline" (click)="deletePlayerToTeamSportDetailModalOpened = false">Cancel</button>
                    <button type="button" class="btn btn-primary" (click)="removeEntry(sport); deletePlayerToTeamSportDetailModalOpened = false">Ok</button>
                </div>
            </clr-modal>

        </td>
    </tr>
    </tbody>
</table>


<p-growl [value]="msgs"></p-growl>
