<div class="card">
    <div class="card-img">
        <img [src]="getPicture(player)" class="player-in-team-card-img">
    </div>
    <div class="card-block">
        <h4 class="card-title">{{player.name}}</h4>
        <p>{{player.nickname}}</p>
        <p></p>
    </div>
    <div class="card-footer">
        <button (click)="gotoPlayerDetails(player)" class="btn btn-sm btn-link">
            See main profile
        </button>
        <div (click)="changeActionCardForPlayer()" class="dropdown down-left"
             [class.open]="isActionCardForPlayerOpen()">
            <button class="dropdown-toggle btn btn-sm btn-link">
                Actions
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <div class="dropdown-menu">
                <div (click)="openAddReward()" class="dropdown-item">Give a reward</div>
            </div>
            <give-reward [(addRewardModalOpened)]="addRewardModalOpened" [season]="season" [player]="player"
                         [team]="team"></give-reward>
        </div>
    </div>
</div>
