<md-card *ngIf = "!isBusy()" class="example-card">
    <md-card-header>
        <div md-card-avatar [ngStyle]="{'background-image': 'url(' + team.emblemLink + ')'}" class="example-header-image"></div>
        <md-card-title>{{player.name}}</md-card-title>
        <md-card-subtitle>{{player.nickname}}</md-card-subtitle>

        <span class="example-fill-remaining-space"></span>
        <button md-icon-button [mdMenuTriggerFor]="menu">
            <md-icon>more_vert</md-icon>
        </button>
        <md-menu #menu="mdMenu">
            <button md-menu-item (click)="routerUtilsService.gotoPlayerDetails(player)">
                <md-icon svgIcon="player-profile"></md-icon>
                <span>See Profile</span>
            </button>
            <button md-menu-item (click)="openAddReward()">
                <md-icon svgIcon="reward"></md-icon>
                <span>Give Reward</span>
            </button>
        </md-menu>

    </md-card-header>
    <img md-card-image [src]="getPicture(player)" class="player-in-team-card-img">
    <md-card-content>
        <p>
            {{player.name}} has been playing for {{team.name}} for {{timeInTeam()}}.
        </p>
    </md-card-content>
    <md-card-actions>
    </md-card-actions>
</md-card>
