.example-header-image {
    background-size: cover;
}

.card {
    max-width: 500px;
}

.player-in-team-card-img {
    max-height: 300px;
}

.example-fill-remaining-space {
    // This fills the remaining space, by using flexbox.
    // Every toolbar row uses a flexbox row layout.
    flex: 1 1 auto;
}
