<mat-card *ngIf = "!isBusy(); else loadingPlayer" class="example-card">
    <mat-card-header>
        <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + team.emblemLink + ')'}" class="example-header-image"></div>
        <mat-card-title>{{player.name}}</mat-card-title>
        <mat-card-subtitle>{{player.nickname}}</mat-card-subtitle>

        <span class="example-fill-remaining-space"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="routerUtilsService.gotoPlayerDetails(player)">
                <mat-icon svgIcon="player-profile"></mat-icon>
                <span>See Profile</span>
            </button>
            <button mat-menu-item (click)="openAddReward()" [disabled]="!canUserGiveReward()">
                <mat-icon svgIcon="reward"></mat-icon>
                <span>Give Reward</span>
            </button>
        </mat-menu>

    </mat-card-header>
    <img mat-card-image [src]="getPicture(player)" class="player-in-team-card-img">
    <mat-card-content>
        <p>
            {{player.name}} has been playing for <span><b>{{team.name}}</b></span> for {{timeInTeam()}}.
        </p>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
</mat-card>
<ng-template #loadingPlayer>
    <mat-progress-spinner mode="indeterminate">Loading Player...</mat-progress-spinner>
</ng-template>
