<div *ngIf="rewardsLoaded">

    <div *ngIf="getRewards().length === 0">
        <div class="alert alert-info">
            <div class="alert-item">
                <span class="alert-text">This player does not have any reward yet!</span>
            </div>
        </div>
    </div>


    <div *ngIf="getRewards().length > 0" class="ui-g">
        <div *ngFor="let playerReward of getRewards()" class="ui-g-12 ui-md-6 ui-lg-6">
            <show-player-reward [playerReward]="playerReward" [team]="getTeam(playerReward.teamId)"
                                [user]="getUserForUserId(playerReward.userId)"></show-player-reward>
        </div>
    </div>

</div>

<div *ngIf="!rewardsLoaded">
    <div class="alert alert-info">
        <div class="alert-item">
            <span class="alert-text">The player rewards cannot be loaded.</span>
        </div>
    </div>
</div>
