<div *ngIf="isEverythingLoaded() && !errorLoadingRewards; else rewardsNotLoaded">

    <div *ngIf="getRewards().length === 0">
        <p-messages [value]="[{severity:'info', summary:'This player does not have any reward yet!', detail:''}]" [closable]="false"></p-messages>
    </div>

    <div *ngIf="getRewards().length > 0" class="ui-g">
        <div *ngFor="let playerReward of getRewards()" class="ui-g-12 ui-md-6 ui-lg-6">
            <show-player-reward [playerReward]="playerReward" [team]="getTeam(playerReward.teamId)"
                                [user]="getUserForUserId(playerReward.userId)"></show-player-reward>
        </div>
    </div>

</div>

<ng-template #rewardsNotLoaded>
    <md-progress-spinner *ngIf="!isEverythingLoaded()" mode="indeterminate"></md-progress-spinner>
    <p-messages *ngIf="errorLoadingRewards" [value]="[{severity:'warn', summary:'Rewards Not Loaded', detail:'The player rewards could not be loaded.'}]" [closable]="false"></p-messages>
</ng-template>
