<div class="row flex-items-xs-center">
    <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 galleria-container">
        <p-galleria [images]="images" [panelWidth]="'100%'" panelHeight="316" [showCaption]="true" [transitionInterval]="4000" effectDuration="2000"></p-galleria>
    </div>
</div>

<div *ngIf="true" class="card">
    <div class="card-block">
        <div class="alert alert-warning alert-sm">
            <button type="button" class="close" aria-label="Close">
                <clr-icon aria-hidden="true" shape="close"></clr-icon>
            </button>
            <div class="alert-item">
                <span class="alert-text">
                    You did not add your Player profile and history, go to my profile to start doing it.
                </span>
            </div>
        </div>
        <p class="card-text">
            Now that you are registered, you can start adding your career history.
            <button type="submit" class="btn btn-primary" (click)="routerUtils.gotoMyProfile()">My Profile</button>
        </p>
    </div>
</div>

<div id="intro">
    <home-how-to></home-how-to>
</div>

<div class="row flex-items-xs-center">

    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header">
                Search for a team!
            </div>
            <div class="card-block">
                <img class="homeCardImg" src="./images/stock-vector-cartoon-illustration-of-a-star-playing-soccer.jpg"
                         alt="..."/>
            </div>
            <div class="card-block">
                <span class="card-media-title">
                            Use this search to look for a team:
                </span>
                <span class="card-media-text">
                    <team-search (teamClicked)="routerUtils.gotoTeamDetails($event)">Loading the search team component...</team-search>
                </span>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="card-header">
                Search for a player!
            </div>
            <div class="card-block">
                <img class="homeCardImg" src="./images/soccer-goalkeeper-cartoon.jpg"
                     alt="..."/>
            </div>
            <div class="card-block">
                <span class="card-media-title">
                            Use this search to look for a player:
                </span>
                <span class="card-media-text">
                    <player-search (playerClicked)="routerUtils.gotoPlayerDetails($event)">Loading the search player component...</player-search>
                </span>
            </div>
        </div>
    </div>

</div>


<!--<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">

    <div class="card">
        <div class="card-header">
            Rate the app and Suggestions!
        </div>
        <div class="card-block">
            <div class="card-media-block">
                <img class="homeCardImg" src="./images/crazy-soccer-ball-cartoon.jpg" alt="..."/>
                <div class="card-media-description">
                        <span class="card-media-title">
                            Rate the app:
                        </span>
                </div>
            </div>
            <div class="card-text">
                <rate-and-comments></rate-and-comments>
            </div>
        </div>
    </div>

</div>-->


<my-statistics></my-statistics>
