<md-card>
    <md-card-header>
        <h3>Add a new player in the match</h3>
    </md-card-header>
    <md-card-content>
        <md-checkbox class="example-margin" [(ngModel)]="playerRegistered">Player Already Registered</md-checkbox>
        <ng-container *ngIf="playerRegistered">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <player-search [playersFilter]="playersFilter" (playerClicked)="playerInfo = createPlayerInfoFrom($event)"></player-search>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <div *ngIf="player">
                        {{player.name}}<button md-button (click)="clear()"><md-icon>remove</md-icon></button><br/>
                        <img [src]="player.imageLink" class="player_img">
                    </div>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="!playerRegistered">
            <form [formGroup]="unregisteredPlayerInfoForm">
                <md-input-container>
                    <input mdInput type="text" placeholder="Player Name" formControlName="name" [(ngModel)]="name" required>
                    <md-error>Name is required.</md-error>
                </md-input-container>
            </form>
        </ng-container>

    </md-card-content>
    <md-card-actions>
        <button md-button [disabled]="!isValid()" (click)="addPlayerInfoToMatch()"><md-icon>add</md-icon></button>
    </md-card-actions>
</md-card>
