<md-card>
    <md-card-header>
        <h3>Add a new player in the game</h3><br/><hr>
        <md-checkbox class="example-margin" [(ngModel)]="playerRegistered">Player Already Registered</md-checkbox>
    </md-card-header>
    <md-card-content>

        <ng-container *ngIf="playerRegistered">
            <player-search (playerClicked)="createPlayerInfoFrom($event)"></player-search>
        </ng-container>

        <ng-container *ngIf="!playerRegistered">
            Player Not Registered Form
        </ng-container>

    </md-card-content>
    <md-card-actions>
        <button md-button><md-icon>save</md-icon></button>
    </md-card-actions>
</md-card>
