$border-radius: 10px;

.container,
.row,
#main-div,
.podium-cols {
    height: 100%;
}

.podium-cols {
    border: none;
    flex-direction: column;
    margin: 0;
    padding: 0;
    .podium-top {
        border: none;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .podium-bottom {
        border: none;
        background: url(http://goo.gl/wBWDCW);
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-top: 22px;
        font-size: 57px;
        font-weight: bold;
    }
}

#podium-left-top {
    flex: 0.70;
}

#podium-left-bottom {
    flex: 0.30;
    border-right: none;
    border-top-left-radius: $border-radius;
    color: silver;
}

#podium-middle-top {
    flex: 0.60;
}

#podium-middle-bottom {
    flex: 0.40;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    color: gold;
}

#podium-right-top {
    flex: 0.80;
}

#podium-right-bottom {
    flex: 0.20;
    border-left: none;
    border-top-right-radius: $border-radius;
    color: #CD7F32;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    .user-points {
        margin-top: 0;
        font-style: italic;
        font-size: 16px;
    }
    img {
        border-radius: 20px;
        filter: grayscale(30%);
        /*animation: roll 3s infinite;
        transform: rotate(30deg);*/
    }
}

@keyframes roll {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
