@import "/_pitch.scss";

$lines_color: white;
$background_color: blue;

.pitch{
    background: $background_color repeat -20px -20px;
    width: $pitch_long_percentage;
    min-width: $pitch_long_min_width;
    min-height: calc(#{$pitch_long_min_width} * #{$pitch_width-long-ration_percentage});
    padding-bottom: $pitch_width-long-ration_percentage;
    position: relative;
}

// This is to make the lines of the complete field
.pitch:before{
    content: "";
    border: $pitch_border_lines solid white;
    position: absolute;
    top : $pitch_extra_grass_sides_percentage;
    left : $pitch_extra_grass_front_line_percentage;
    width: $pitch_long_percentage - 2*$pitch_extra_grass_front_line_percentage;
    height: 100% - 2*$pitch_extra_grass_sides_percentage;
    display: block;
}

// This is to make the midfield line
.pitch:after{
    content: "";
    border-left: $pitch_border_lines solid white;
    position: absolute;
    top : $pitch_extra_grass_sides_percentage;
    left : ($pitch_long_percentage/2); //($pitch_long + 2 * $pitch_extra_grass_sides) / 2;
    display: block;
    height: 100% - 2*$pitch_extra_grass_sides_percentage;
}

// This is to make the circle of the center
.center-circle{
    position: absolute;
    top: 37%; // no idea how is calculated
    left: $pitch_long_percentage / 2 - $pitch_circle_radius_percentage/2;
    width: $pitch_circle_radius_percentage;
    padding-bottom: $pitch_circle_radius_percentage;
    border: $pitch_border_lines solid white;
    border-radius: 50%;
}
// This is to make the center point
.center-circle:after{
    position: absolute;
    top: 50%;
    left: 50%;
    width: $pitch_border_lines;
    height: $pitch_border_lines;
    background-color:white;
    content:"";
    border: $pitch_border_lines solid white;
}

// The outer penalty area
.penalty-area{
    position: absolute;
    height: $penalty_width_percentage;
    width: $penalty_long_percentage;
    top:  50%;
    transform: translate(0%, -50%);
    border: $pitch_border_lines solid white;

    border-radius: 100% / 50%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

}

.left .penalty-area{
    left: $pitch_extra_grass_front_line_percentage;
    border-left: 0;
}

.right .penalty-area{
    right: $pitch_extra_grass_front_line_percentage;
    border-right: 0;
    border-radius: 100% / 50%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.penalty-area:after{
    position: absolute;
    height: $pitch_border_lines;
    width: $pitch_border_lines;
    top: 50%;
    background-color:$lines_color;
    border-radius: 50%;
    content:"";
}

.left .penalty-area:after{
    right: 50%;
}
.right .penalty-area:after{
    left: 50%;
}
