<div *ngIf="positionsMapLoaded">
    <section #pitch class="pitch">
        <div class="field left">
            <div class="penalty-area">
            </div>
        </div>
        <div class="field right">
            <div class="penalty-area">
            </div>
        </div>
        <div class="center-circle"></div>
        <div class="home-team">

            <player-position-icon *ngFor="let player of players" [player]="player"
                                  [teamSportPosition]="getSportPositionForPlayer(player)"></player-position-icon>

        </div>

    </section>
</div>
